[2017-08-22 12:00] glogiotatidis opened #268 "Activity Stream close button is broken"
Activity steam close button `chrome://browser/skin/sidebar/close.svg` is no longer available.

@ScottDowne can you please take a look and update https://github.com/mozmeao/snippets-service/blob/master/snippets/base/templates/base/includes/snippet_as.css#L24

[2017-08-22 14:56] ScottDowne commented on #268
Blah, looks like someone moved it to chrome://global/skin/icons/close.svg

I'll see about making a small patch today.

[2017-08-22 14:59] ScottDowne commented on #268
Also needs:

[code]

to show it properly.

[2017-08-22 15:57] glogiotatidis commented on #268
Aha, ic. So is it safe to refer to this image or it's better to bring it in with the cost of the image size?

[2017-08-22 15:59] ScottDowne commented on #268
Dunno. Initially I was told it was safe to use, but that turned out to be kinda false for whatever reason.

I would be fine with just baking it in as a data uri. It's not like it's going to be big.

[2017-08-23 06:40] glogiotatidis commented on #268
IC. Well since we're targeting different versions of Firefox at the same time I'd say it's better to get this as a data uri.

[2017-08-24 20:49] ScottDowne commented on #268
Sorry I didn't get to this sooner given how easy it was.

https://github.com/mozmeao/snippets-service/pull/270

[2017-08-25 06:50] glogiotatidis commented on #268
no worries and many thanks!

[2017-08-29 14:21] jgmize opened #272 "ImportError: Module "django.contrib.sessions.serializers" does not define a "JSONSerializer" attribute/class"
From sentry email on Tue, Aug 29, 2017 at 1:17 AM:
[code]

[2017-08-29 14:26] jgmize commented on #272
Also, while logging in to sentry to view this error it prompted me about https://blog.sentry.io/2017/05/01/release-commits.html -- @glogiotatidis do we already have this set up for snippets-service, or should I file a separate issue about it?

[2017-08-29 14:27] glogiotatidis commented on #272
I've seen that kind of funny errors in the past. JSONSerializer does exist and the URL is working fine now, I don't understand why these errors happen

[2017-08-29 14:27] glogiotatidis commented on #272
I think

yes

[2017-08-29 14:30] jgmize commented on #272
It might be a race condition at startup time.

[2017-08-29 14:34] glogiotatidis commented on #272
Any suggested action?

[2017-08-29 14:45] jgmize commented on #272
Since this appears to be an import time race condition in `django.contrib.sessions`, it might be something that is already fixed in a newer version of django. I didn't find anything in a quick search, but you may have better luck.

[2017-08-30 18:24] k88hudson opened #274 "Use gSnippetsMap.showFirefoxAccounts();"
This will be available with this bug lands in Nightly: https://bugzilla.mozilla.org/show_bug.cgi?id=1394706

Usage is as follows:
[code]

[2017-09-07 15:49] k88hudson commented on #274
Ok this has landed!

[2017-09-12 14:29] k88hudson opened #281 "Support visually hiding snippets on the current page when `Snippets:Disabled` event is fired"
We have recently added an event that triggers when the Snippet being enabled/disabled via the preferences panel.

Documentation is here:
https://github.com/mozilla/activity-stream/blob/master/docs/v2-system-addon/snippets.md#events

To listen to the event, just listen on the window, i.e.

[code]
We probably don't want to actually block the currently shown snippet, as the user hasn't specifically i

[2017-09-13 02:26] tspurway commented on #281
@glogiotatidis - do you think this bug will land for 57?

[2017-09-13 12:50] glogiotatidis commented on #281
Yes this will land in 57.

What I plan to do is to listen for the event and then write to `gSnippetsMap` that snippets are disabled and display None.

Do we have a reason why this doesn't get into AS addon and just don't load any snippets code when snippets are disabled?

[2017-09-13 13:35] k88hudson commented on #281
@glogiotatidis no need to write to `gSnippetsMap` since snippets will not disabled on the *next* page load, this is just for the case if snippets are *already* shown on the page and get turned off in the settings panel in the upper right corner.

[2017-09-13 15:34] k88hudson commented on #281
Also @tspurway note that this doesn't have to land with the trains, since this code lives/is deployed outside mozilla central

[2017-09-13 19:32] k88hudson opened #286 "Placeholder for previews for AS snippets"
I generated a static version of AS (no content, but has squares at least) if it's helpful.

Code is here: https://github.com/k88hudson/activity-stream-static/tree/gh-pages

or you can point to the html file directly: https://k88hudson.github.io/activity-stream-static/activity-stream-prerendered.html

[2017-09-13 19:32] k88hudson commented on #286
cc @glogiotatidis

[2017-09-13 19:34] k88hudson commented on #286
Also, note that this page is **not compatible with Chrome**, it only looks right if you look at in FF.

[2017-09-14 10:54] glogiotatidis commented on #286
Thanks!

[2017-09-14 11:26] glogiotatidis commented on #286
Preview fixed here https://github.com/mozmeao/snippets-service/commit/cf438c6c14a5fc2ebe29e4e137927a5924598b9d

[2017-09-14 11:26] #286 closed

[2017-09-15 06:44] #268 closed

[2017-10-04 06:46] glogiotatidis commented on #281
@k88hudson I guess you meant "since snippets will not be enabled on the next page load"?

If so, I guess

[code]

should be enough?

[2017-10-09 17:07] glogiotatidis commented on #274
PR https://github.com/mozmeao/snippets-service/pull/298

[2017-10-18 08:30] #281 closed

[2017-10-23 12:36] #274 closed

[2017-11-07 20:53] stephendonner opened #317 "Test_snippet_set_present fails due to beta channel snippet returning 204 No Content"
This test is failing due to the response being a 204, rather than a 302:

https://github.com/mozmeao/snippets-service/blob/6d7d7425187f9820c4e1faef5786f9a0dabf55f6/tests/test_snippets.py#L24

[code]

[2017-11-07 20:55] stephendonner commented on #317
Failure, through webpagetest.org: https://www.webpagetest.org/result/171107_BD_ed9ef15f7b99ca31dcdd59dae54e4379/
Success (aurora channel): https://www.webpagetest.org/result/171107_FQ_6ae01dde43c33bb842381c3b218d1ce1/

[2017-11-07 23:37] stephendonner commented on #317
According to our CI, this regressed 2 days and 11 hours ago, so sometime around Sunday, November 5th, ~4:36am PST.

[2017-11-08 08:16] glogiotatidis commented on #317
This is expected behavior since https://github.com/mozmeao/snippets-service/commit/4936f2371e341690def9be40a72abdd32205b0c9, both `302` and `204` are valid answers from the service.

I suggest that you also change your URLs to `/5/....` to fetch snippets targeting activity stream which is going to be the default going forward.  Now there 're no snippets running on about:home for Beta since Beta is

[2017-11-08 14:05] davehunt opened #319 "Add a test to validate the served snippets"
We used to have a test that found all the `<a>` elements in the served content and validated them. This test iterated over the discovered elements, and as there was no assertion to check the list was not empty, the test has been passing despite there being no such elements in the payload for a couple of years. To restore this coverage we would need to parse the content to determine the snippets, a

[2017-11-08 14:07] #317 closed

[2017-11-13 18:20] k88hudson opened #323 "Implement override onboarding option for snippet campaigns"
Let's makes sure that individual campaigns have an option to override onboarding if necessary. This can be accomplished by calling `gSnippetsMap.disableOnboarding()`, and will probably require a new option in the admin interface.

@glogiotatidis is this something you're able to do? Do you have everything you need?

[2017-11-13 20:30] k88hudson opened #324 "Verify snippets should not show up for new profiles/users"
Let's verify that snippets are not showing up for new users/profiles, and that onboarding is shown

[2017-11-16 11:35] glogiotatidis commented on #323
I understand that `disableOnboarding` flips `onboardingFinished` to `true` until the browser closes. This will make all snippets appear, not individual campaigns. (Also it doesn't hide the Firefox icon on the upper left corner, but I don't know if that's intended)

What I's expecting was that snippets would control the appearance of onboarding:

 1. Snippets code run
 2. Check if there are high-pr

[2017-11-29 00:32] stephendonner opened #330 "Beta and Aurora-channel Activity Stream tests are failing due to HTTP 204 response"
https://github.com/mozmeao/snippets-service/blob/ec3d4c588503517875a2f069056ce4e9617aff8c/tests/test_snippets.py#L41 has been failing for **aurora** and **beta** channels, while **release** is fine for at least the past couple days.

TL;DR: https://snippets.mozilla.com/5/Firefox/default/default/default/en-US/aurora/default/default/default/ and https://snippets.mozilla.com/5/Firefox/default/default

[2017-11-29 10:12] glogiotatidis commented on #330
Both 204 and 200 responses are valid responses. What you get depends on what campaigns the Snippets team is running: If you get a 204 the team does not run any campaigns for your configuration, for aurora and beta en-US channels in this case. Do you think allowing both 200 and 204 as valid success codes is OK or you prefer another approach @stephendonner ?

[2017-11-29 10:41] davehunt commented on #330
`test_response_codes` checks that the response code is either 200 or 204 for all combinations of version (3, 5), and channel (aurora, beta, release). I think that's fine.

The issue here is that we were previously able to test activity stream (version 5) on aurora and beta, but these are now returning 204 and no content. Whilst this is an acceptable response, it means we can't make the tests deter

[2017-11-29 19:51] jpetto opened #331 "Installling requirements for simple_template_server fails on macOS"
Following the given setup instructions, the following error occurs on macOS:

[code]

Running `pip install MarkupSafe>=0.23` prior to running `pip install -r requirements.txt` solves the issue. Not sure if this is the best fix though.

[2017-12-11 17:58] davehunt commented on #330
It looks like this settled down for a while, but the beta channel has been failing again for the last ~6hrs.  Do you think we should remove this test for beta/aurora @glogiotatidis? Is it reasonable to expect release to always have an ActivityStream snippet served?

[2018-01-04 14:17] #330 closed

[2018-01-22 14:26] glogiotatidis commented on #272
We haven't seen this error for a while, so i'll close this issue for now.

[2018-01-22 14:26] #272 closed

[2018-01-22 14:38] glogiotatidis opened #340 "Enable Main Text editing from the list view."
We want to be able to alter the Main Text of the snippet from the admin list view of snippets.

Since `Main Text` is a SnippetTemplateVariable object and not a Snippet attribute this is a bit more involved.

It may also require that we restrict templates to have only one `Main Text` variable, which reflects the reality btw: No used template has more than one `Main Text` variables.

The UX/UI can b

[2018-01-22 14:45] glogiotatidis opened #341 "Make 'Activity Stream' the default start page option for new snippets"
Activity stream is the new cool kid on the block. Let's make all the new snippets default to that Startpage instead of the current Versions 2,3,4.

![image](https://user-images.githubusercontent.com/584352/35226325-9ef91d50-ff93-11e7-9624-edf3027db261.png)

[2018-01-22 14:51] glogiotatidis opened #342 "Automatic unique snippet name generator"
Populate the name of the snippet based on selected fields. Example names of real life snippets

 - Moco_global_2018_Profile Age 3-5 Weeks_campaign_IRL Generic v2_Stream_EN_Rel
 - Moco_global_2017_campaign_Profile age 3 to 5 weeks_IRL Generic v3_activity stream_EN_REL

@jkt230 can you please list the fields you want to base the name generation on? Also a couple of words on how you select the names

[2018-01-22 15:08] glogiotatidis opened #343 "[new filter] Filter based on installed / available add-ons/themes"
Waiting for the information to become available for use. [Bug 1431525](https://bugzilla.mozilla.org/show_bug.cgi?id=1431525)

[2018-01-22 15:09] glogiotatidis opened #344 "[new filter] Filter based on bookmarks usage"
Currently waiting for information to become available. [Bug 1431470](https://bugzilla.mozilla.org/show_bug.cgi?id=1431470)

[2018-01-22 15:10] glogiotatidis opened #345 "[new filter] Filter based on open inspect element (or other devtools)"
Currently waiting for information to become available. [Bug 1431464](https://bugzilla.mozilla.org/show_bug.cgi?id=1431464)

[2018-01-22 15:11] glogiotatidis opened #346 "[new filter] Filter based on date of last Firefox use."
Currently waiting for information to become available. [Bug 1431469](https://bugzilla.mozilla.org/show_bug.cgi?id=1431469)

[2018-01-23 21:09] jkt230 commented on #342
Moco (we would have to input ourselves - this tells us if it's corporation or foundation related)
Global (we would have to input ourselves when it comes to country/locale, for instance this would be all countries)
2018 (can we pull the year date from the publish start date?)
Profile Age 3-5 Weeks (pull this only if there is something other than "no limit" in the list)
Campaign name (pull from camp

[2018-01-23 21:09] jkt230 commented on #342
@glogiotatidis forgot to tag you

[2018-02-04 09:08] davehunt opened #349 "test_activity_stream failing against https://snippets.mozilla.com/"
https://snippets.mozilla.com/5/Firefox/default/default/default/en-US/release/default/default/default/ is returning no content, causing this test to fail:

https://github.com/mozmeao/snippets-service/blob/51d91f150d0031e6d4ea391a8292aa7f5e71648a/tests/test_snippets.py#L40-L46

The test is failing with:

[code]

/cc @glogiotatidis @stephendonner

[2018-02-05 10:33] glogiotatidis opened #350 "Add ESR product channel"
Add ESR next to Release product channel

![image](https://user-images.githubusercontent.com/584352/35800136-bd0a1262-0a70-11e8-9e6b-b088c3622e73.png)

[2018-02-06 02:53] stephendonner commented on #349
This started passing again in build https://qa-master.fxtest.jenkins.stage.mozaws.net/job/snippets.prod/10612/

Around 3:28pm PDT?

[2018-02-06 12:58] glogiotatidis commented on #349
Similarly to #330 the answer is that no-content is valid reply from the server. The content depends on the campaigns / snippets run by the snippets editors.

Feel free to disable those tests since they are not actionable and failures are not real problems.

[2018-02-06 12:58] #349 closed

[2018-02-07 12:03] davehunt commented on #349
Ah, I was under the understanding that prod would always serve content for activity stream on the release channel. If this is not the case then perhaps we should delete this test?

[2018-02-07 14:22] glogiotatidis commented on #349
usually yes but apparently Snippet Editors left a weekend without content for the specific combination (activity stream, release, en-us, etc).

You can disable this test or even all tests. We have other alerting about the service and I still plan to integrate some of your tests as deployment acceptance test.

[2018-02-12 23:05] jkt230 opened #352 "Pull down hamburger menu - UI Tour"
We would like the ability to educate our users on the hamburger menu settings - starting with the ability to drop down the hamburger menu when clicking on a snippet.

[2018-02-12 23:06] jkt230 opened #353 "Enable more permissions/roles so non-admin users can build snippets but not publish"
To streamline the IPC process, we want to enable content writers to build snippets within the service for review

[2018-02-13 11:36] glogiotatidis commented on #352
We're instructed by the AS team that we don't use UITour. Did that change @jkt230 ?

[2018-02-13 11:38] glogiotatidis commented on #353
note for when we start building: This requires more detailed permissions which are described in the IPC 2018 requirements document.

[2018-02-13 17:24] jkt230 commented on #352
Yeah Kate mentioned it was case by case basis. I'll tag her in here in case she needs to do something to make it happen? @k88hudson

[2018-02-13 17:30] jkt230 opened #354 "Activity Stream Send to Device Template - update to allow other countries' phone numbers for SMS sends"
@jpetto For the Send to Device, we normally just do SMS in US. But now we're starting to incorporate countries like Germany.

I tried inputting this Germany domestic number: 015115716224 using SMS basket id: whatsnewfifty-snippet

But I think the template only takes 11 digits that will then allow me to hit send (US has 11 digits if we include country code). Can we update the template so it'll reco

[2018-02-13 20:18] jpetto commented on #354
Do we expect people to enter a country code? If I'm in the US and have to enter a phone number in a field, I don't assume country code is necessary. (I assume it's added automatically if needed.)

[2018-02-13 20:55] jkt230 commented on #354
Hey Jon,

You're right it's only taking 10 digits right now.

1) Let's enable 10-11 digits for US so they can include country code if they want to
2) Let's enable 12 digits for Germany so they can include country code

Not sure how you're going to update the back end to make sure that if it's a US number, that it only gets US texts (maybe that's based on the basket id) or that if it's a Germany nu

[2018-02-14 19:31] jpetto commented on #354
This should be handled by basket based on the supplied `locale`, `country`, and `message_id_sms`. I'm going to add the `country` param to the template so you can fill that out as well. For Germany, both the `locale` and `country` should be `de`. (Note that country codes do not always match the locale codes, e.g. `en-US` and `us`.)

I believe that basket will try to send the specified message ID lo

[2018-02-15 11:01] #354 closed

[2018-02-15 11:06] glogiotatidis commented on #354
Updated production

[2018-02-15 19:03] jkt230 opened #358 "Activity Stream Send to Device Widget - locale parameter is not being passed on for email basket"
@jpetto

For the Send to Device widget whether I use basket id: download-firefox-mobile OR download-focus-mobile and type in the locale parameter de OR fr, I still get the en version of the emails. The expected result is to get the de or fr version of the email.

Can you please investigate?

Side note: I tested locale de and country de for the SMS message and did get a German SMS text message. So

[2018-02-15 22:21] jpetto commented on #358
The issue with our testing was that the language for the email was not being specifically set to the value entered in the admin, and was instead being inferred from the `HTTP_ACCEPT_LANGUAGE` provided by the browser.

I believe this would have worked fine for a user with a German build of Firefox, as the `HTTP_ACCEPT_LANGUAGE` would be set to `de` for that build.

The PR filed above forces the `la

[2018-02-15 22:30] jkt230 commented on #358
Can we take a look at how it was set up for the old template "Mobile Activation (Android, iOS, or both)"? Giorgos may have to point you to where that code is.

I tried it there and it was passing the right email (so if I input de for locale), I got the German version of the email.

[2018-02-16 07:30] #358 closed

[2018-02-16 07:41] glogiotatidis commented on #358
pushed to prod

[2018-02-27 19:04] jkt230 commented on #352
Friendly ping @k88hudson

[2018-03-05 09:12] glogiotatidis commented on #345
https://github.com/mozilla/activity-stream/pull/4004

[2018-03-06 10:33] glogiotatidis commented on #343
Fixed in Fx60

[2018-03-08 17:51] k88hudson commented on #344
This has landed for 60

[2018-03-08 17:51] k88hudson commented on #345
This has landed for 60

[2018-03-08 17:52] k88hudson commented on #346
Unfortunately I haven't had time to get this one yet, it may get pushed to 61 (I will update the bug next week)

[2018-03-09 18:15] jkt230 opened #368 "Update "Click or Dismiss" Logic for Specific Activity Stream Snippet Templates"
Hi Giorgos,

Please confirm if this is correct:
Currently on all AS templates, when a user
1) hit X on first scene
2) click on hyperlink or button on first scene
3) click on "dismiss" button on second scene

They will not see any snippets ever again with the same campaign field name.

Because we have new templates that include second scenes, we don't want to consider the click on the button on the

[2018-03-09 18:15] jkt230 commented on #368
Err at the risk of getting yelled at, I'm just going to cc you once! @glogiotatidis

[2018-03-12 09:52] glogiotatidis commented on #368
ahha no worries but fyi i get all issues created here anyway :)

[2018-03-22 19:28] katjoy opened #370 "Test Pilot Filtering not working on about:newtab"
I have signed up for Test Pilot and currently have the Notes experiment enabled.  I'm seeing a Test Pilot snippet (#7874) that was programmed to filter to "Show only to users without Test Pilot" and I am not seeing the Test Pilot snippet (#7878) that was programmed to filter to "Show only to users with Test Pilot."  We wanted to confirm that Test Pilot filtering is working correctly.

![7874 witho

[2018-03-27 12:13] glogiotatidis commented on #370
Sorry for the delay, I'll take a look tomorrow and reply here

[2018-03-27 12:14] glogiotatidis commented on #368
Apologies for the delay, I'll check tomorrow and reply here.

[2018-03-28 09:40] glogiotatidis commented on #370
I did some digging and this is an interesting one...

Testpilot does work on `about:home` and it doesn't work on `about:newtab`. The first is the first page you get to see when you open firefox and the later is the page you see on every new tab. They appear to be the same but they are not under the hood.

Testpilot whitelists `about:home` and we can query it's existence there and thus filtering th

[2018-03-29 11:37] glogiotatidis commented on #368
And this has been pushed back, still under my radar

[2018-04-03 07:06] stephendonner opened #373 "[prod tests] test_legacy test fails with exception: AttributeError: 'NoneType' object has no attribute 'text'"
We're seeing the following error in our snippets.prod suite[0]:

[code]

[0] https://qa-master.fxtest.jenkins.stage.mozaws.net/job/snippets.prod/18722/

[2018-04-03 07:07] stephendonner commented on #373
Empty/0-length content, yeah?

https://www.webpagetest.org/result/180403_TC_e40a978e53c88d4a66c0c66aa28e1496/1/details/#step1_request2

[2018-04-03 11:30] glogiotatidis commented on #373
@stephendonner thanks for filing this. As we discussed earlier this year  those tests provide little value as they are depended on the content edited by the snippets team and not the code itself. In this case snippet editors do not send any snippets to old pre-activity stream browsers

We run some tests against the services when we deploy new code and we monitor the availability of the service usi

[2018-04-03 18:26] stephendonner commented on #373
@glogiotatidis if you're confident they don't-yet provide value, and have more false-positives/negatives, sure.

And just to be clear, "disable all related snippets tests" means all of https://github.com/mozmeao/snippets-service/tree/master/tests, not just this failing test, right?  (There are only 3 tests, but multiple iterations/runs, due to testing different channels.)

For starters, I'll at le

[2018-04-04 03:15] jgmize commented on #373
Fixed in https://github.com/mozmeao/snippets-service/commit/fa6995a6357d02671d8f97d0ee32d4fbc48a8e04

[2018-04-11 09:02] glogiotatidis commented on #343
This solution must replace the semi-working Test Pilot addon filtering. (see #370)

[2018-04-11 09:04] glogiotatidis commented on #370
Update: this seems that will remain as is (i.e. semi-working) until the release of Firefox 60 on 2018-05-09.

I'm going to close this issue in favor of #343, which will provide a solution to this problem.

Thanks for the detailed initial report @katjoy . Your screenshots and overall issue reporting approach really helped.

[2018-04-11 09:04] #370 closed

[2018-04-11 21:10] bensternthal opened #376 "Migrate Analytics To PingCenter"
Blocked by AS team - waiting on info.

[2018-04-12 09:54] glogiotatidis commented on #346
Fixed in 61

[2018-04-12 14:57] k88hudson commented on #352
After investigating this for onboarding etc., it looks like UI tour would actually be OK to use from snippets

[2018-04-12 15:03] bensternthal opened #377 "Sort Out Plan For Integrations With New Messaging Center"
- [Background Docs](https://drive.google.com/drive/folders/1lVlhgAFsVX7nPoYl95nRlId2cHK0YxUb)

[2018-04-13 07:29] glogiotatidis commented on #345
Let's prioritize this filter over other filters as Editors want to run tests as soon as possible with this.

[2018-04-13 15:28] bensternthal commented on #345
Noted, I updated the priority list and will move the cards to reflect the above.

[2018-04-17 20:14] jgmize opened #381 "production is ahead of master"
When I was trying to deploy to snippets-admin in oregon-b after merging #380 I found out that the [production branch is ahead of master](https://github.com/mozmeao/snippets-service/compare/master...production). I ended up doing a manual deploy to work around this, but if [this test still needs to be commented out in production](https://github.com/mozmeao/snippets-service/commit/8c44094a22b6c8223a0

[2018-04-18 09:46] glogiotatidis commented on #381
Good catch jgmize. I synced the branches and updated those tests.

[2018-04-18 09:46] #381 closed

[2018-04-19 13:04] glogiotatidis opened #382 "Add source_url field to Newsletter Signup template"
Update [newsletter signup template](https://github.com/mozmeao/snippets/blob/master/activity-stream/newsletter-subscribe.html) to include `utm_term` and `utm_campaign`

See bug https://bugzilla.mozilla.org/show_bug.cgi?id=1455064

 - [x] Update template in repo
 - [x] Update template in snippets admin

[2018-04-23 13:12] glogiotatidis opened #383 "Enable Brotli compression of bundles."

[2018-04-24 05:46] #383 closed

[2018-04-24 14:48] bensternthal opened #387 "Snippets Cost Remediation: Change Snippet Bundles To Only Contain The Decision Engine, Move Snippet Content Entirely Out Of Bundle"
If brotli compression does not reduce costs enough...

Rather than bundle all the Snippets and the logic for display together we will separate these and only ship the decision logic in the bundle. Once a decision is made on which Snippet to display, the content will be loaded via link. This should:

- Reduce the size of the bundle, generally from 4Mb to 120Kb for a bundle containing 150 Snippets.

[2018-04-24 14:49] bensternthal opened #388 "Snippets Cost Remediation: Change Images From Embedded Data URIs To Links"
If brotli compression is not engouht..change images from being embedded data URIs to links. This should:

- Without images bundle size is reduced to  ~1.1MB or 50Kb in transfer cost after GZIP.
- Allow images to be cached by the browser.
- Only download images the user actually sees.

[2018-04-26 05:16] #345 closed

[2018-04-26 05:45] glogiotatidis commented on #346
From bugzilla
"""
We ended up only exposing the timestamp for the last time Activity Stream UNINIT'd which happens when the browser shuts down. It is exposed in snippets data as "previousSessionEnd".
"""

`gSnippetsMap.get("appData.previousSessionEnd")`

[2018-04-26 06:26] glogiotatidis commented on #353
From Snippets Service [Product Requirements doc](https://docs.google.com/a/mozilla.com/document/d/12bCVSEQnnTkvrLHzMh3yGY7taUE7KFYZpiZ7WL2F_q0/edit?disco=AAAABi1f-l0)

"""
Giorgos:
Currently we have 2 level permissions:

1. Users can add/edit/delete/publish Desktop Snippets
2. Users can add/edit/delete/publish
Android Snippets

We can add more so that

1. Users can add/edit/delete all desktop
2. U

[2018-04-27 07:40] #341 closed

[2018-04-27 09:32] #346 closed

[2018-04-27 10:32] glogiotatidis commented on #353
I removed my assignment b/c probably i won't get to this before may 7th. @pmac feel free to take it on if you have capacity

[2018-04-30 06:52] glogiotatidis commented on #382
https://github.com/mozmeao/snippets/pull/145

[2018-04-30 06:53] #382 closed

[2018-05-03 22:44] fox2mike opened #396 "[SCL3 Decom] Trying to figure out why we're still getting traffic to snippet-stats.mozilla.org"
@vyas85 and I were chatting about the upcoming SCL3 decom and were trying to understand why we're still seeing production traffic to https://snippets-stats.mozilla.org/foo.html

Seems like there was a change made for https://github.com/mozmeao/snippets-service/pull/302 (72e19196bf4be52d71aa89a16cec49a1b3ceb99a) which changed the URL from the one above to https://snippet-stats.moz.works/foo

We sti

[2018-05-04 09:55] glogiotatidis commented on #396
Hi @fox2mike!

snippets-stats.m.o is not owned by us. It's something the Data Team built back in the day and it collects data that it's fed to Tableau. This is actively used by Marketing for analytics. Maybe Josephine T knows more (Matt Pressman used to be also involved)

[2018-05-04 09:55] glogiotatidis commented on #396
/cc @bensternthal

[2018-05-04 15:03] bensternthal commented on #396
@glogiotatidis

Ok to make this discussion easier lets refer to these systems as:

AWS = https://snippet-stats.moz.works/foo
SCL3 = https://snippets-stats.mozilla.org/foo.html

I started poking around a bit.. just to be 100% sure am I correct that snippets no longer uses SCL3 as the analytics endpoint when using the [proxy](https://github.com/mozmeao/snippets-stats-proxy).

And that the hits Shyam

[2018-05-04 16:35] mwarther commented on #396
@bensternthal we do get some snippet reporting from Tableau in addition to GA, not sure if that's related. the creation of that reporting pre-dates me, so don't have a lot of details on the how/when it was set-up.

[2018-05-04 17:39] fox2mike commented on #396
Hey @glogiotatidis, @vyas85 is our current Data Team manager ;) and we're both really baffled by where this traffic is coming from :) Specifically because all the hits go to snippets-stats.mozilla.org/foo.html and no where else and we're seeing hits from across the board - mobile, desktop, multiple different versions of Firefox etc.

[2018-05-04 19:41] bensternthal commented on #396
Ok we have logs from shyam and will be researching.. thanks for the help.

[2018-05-04 20:13] bensternthal commented on #396
OK I think I got to the bottom of this.

There seems to have been an assumption made that because we changed the URL in the snippets-service the snippets stat collector run by the Data Team was no longer in use.

**This is not true.**

We changed the url to use a [proxy](https://github.com/mozmeao/snippets-stats-proxy). The proxy is still hitting https://snippets-stats.mozilla.org/foo.html

AFAIK

[2018-05-04 20:58] fox2mike commented on #396
@bensternthal  and I had a chat - and this all makes sense. I think @vyas85 is going to reach out to @mwarther and figure out what stats they like to see and if GA is sufficient. Once that conversation happens, we can figure out a future path for snippets-stats.mozilla.org.

Thanks for all the help here folks!

[2018-05-04 20:58] #396 closed

[2018-05-08 07:29] glogiotatidis commented on #373
We stopped webqa tests so this a wontfix. thanks all

[2018-05-08 07:29] #373 closed

[2018-05-08 08:59] davehunt commented on #373
@stephendonner I notice that we still have snippets jobs in Jenkins. The prod job is passing, and the stage job has been disabled since April 18th. Should we delete these jobs? /cc @glogiotatidis

[2018-05-08 13:01] glogiotatidis commented on #373
Yes please remove all jobs. We have our own monitoring. Thanks!

[2018-05-09 01:50] stephendonner commented on #373
Done; I've removed:
* https://qa-preprod-master.fxtest.jenkins.stage.mozaws.net/job/snippets.adhoc/
* https://qa-master.fxtest.jenkins.stage.mozaws.net/job/snippets.prod/
* https://qa-master.fxtest.jenkins.stage.mozaws.net/job/snippets.stage/

[2018-05-09 06:57] glogiotatidis commented on #343
I think that's a good idea.

What about this @k88hudson ?

[2018-05-10 12:17] glogiotatidis opened #401 "Update Python Packages."

[2018-05-10 14:23] bensternthal opened #403 "Document Roles & Responsibilites"
The following were all approved and agreed to in the June 5 status meeting. See [notes](https://docs.google.com/document/d/1w9GUcc-QO1pQ5mhGlhoc64_GsxsVk9ysFiP_2mpObrc/edit#).

- **AS** team with MozMeao support is responsible for development of Add On or other solution to enable preview prior to FF 63, it may be included in 62.
- **AS**  team will take ownership of Snippet Templates and be respon

[2018-05-10 14:26] bensternthal opened #404 "Open Questions"
- How long do we need to support pre-as. Understand how many versions back.
- How long do we need metrics from pre-as/esr.
- Ping center.. when do we need to do this.. guidance from legal
- Content Signing

[2018-05-14 09:16] glogiotatidis opened #469 "Remove deprecated JSON (Fennec) snippets code"
The JSON backend was used to serve snippets to Fennec. Last JSON snippets were on Sept 2017, when Fennec switched to another platform.

This issue tracks the removal of code related to JSON snippets

Papertrail webserver logs return no results for `/json/1/` which is the URL used for Fennec snippets

## Deployment plan
- [x] Export JSON snippets to CSV, share with LCM team
- [x] Backup prod DB
- [

[2018-05-14 09:47] glogiotatidis commented on #469
@bensternthal Can you please confirm that this is the case for Fennec snippets so we can proceed and remove some code and tech debt?

[2018-05-14 12:57] k88hudson commented on #343
Ok, I'll file a bug to switch it to an async api.

As for the `userDisabled`, I'm not sure why that isn't included in the information – let me follow up with some web extension folks

[2018-05-14 15:15] bensternthal commented on #469
on it.

[2018-05-14 22:15] bensternthal commented on #469
Do not decom yet. Michele is looking into running an "upgrade snippet" and once that finishes it's run we can likely decom.

[2018-05-15 04:56] glogiotatidis commented on #469
ACK

[2018-05-15 05:40] glogiotatidis commented on #343
Removing the blocked tag. Although this still needs some work on the AS front to

 - Update list of addons more often than just on startup time
 - Figure out wy `userDisabled` does not work.

we can proceed with that we have as v1.

@k88hudson we're waiting for your updates here to work on v2, thanks!

[2018-05-15 06:27] glogiotatidis commented on #404
- Which filtering capabilities we have in the new ASI.
- Can we use UITour in the new ASI

[2018-05-15 06:37] glogiotatidis commented on #352
Historically we had special templates for snippets involving UITour, e.g. when we launch Firefox Hello we had a special simple snippet template that opened the Hello menu on click.

Now we need to be more specific on what we want to achieve so we can build it in a useful way.

@katjoy do you have any user stories or specific snippets you want to run to educate our users on the hamburger menu?

[2018-05-16 20:30] k88hudson commented on #343
So i talked to the web extension folks, the reason no disabled information is getting included is indeed because we are loading this information at startup, and they are unable to provide it due to perf reasons. I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1462124 to switch this to an async api you can call, and I will include in the response whether the full set of information is availabl

[2018-05-16 20:43] k88hudson opened #503 "Implement JSON snippets endpoint for AS Router"
## Specs
* MozMeao will develop a new “Activity Stream NG” endpoint.
* The URL for the new endpoint will start with /6/, otherwise it will follow the exact same format of existing endpoints.
* The endpoint will return a JSON formatted response adhering to this [this schema](https://github.com/mozilla/activity-stream/blob/master/content-src/asrouter/schemas/provider-response.schema.json).

## Risks

[2018-05-17 06:37] glogiotatidis commented on #343
OK per comment https://github.com/mozmeao/snippets-service/issues/343#issuecomment-389655291 we will deploy code to check only whether an addon is installed or not installed and I'll file a new issue to include "addon enabled" / "disabled" functionality when bug 1462124 lands.

Thanks for the investigation @k88hudson

[2018-05-17 06:37] glogiotatidis opened #504 "Extend addons filtering with addon "disabled" and "enabled" options"
Extend issue #343 to include addon enabled and "disabled" options. This is currently blocked by

https://bugzilla.mozilla.org/show_bug.cgi?id=1462124

[2018-05-17 07:16] #340 closed

[2018-05-17 10:54] glogiotatidis commented on #503
Thanks for filing @k88hudson

Schema looks good. I understand why `button_type` is there but since there's already a bug to add support for HTML so there's no need to implement this for Fx62. Is this assumption correct?

[2018-05-17 11:04] glogiotatidis opened #505 "Decom old about:home code, snippets and templates"
The last snippets on the service related to the old about:home page where disabled on Feb 14th 2018. Given that SHIELD is also running "firefox version too old, please upgrade" snippets, can we proceed to remove code, templates and snippets from the service?

This will help with code maintenance, tech debt and speed of the site.

In case there's strong interest to save the data of the old snippets

[2018-05-17 11:05] glogiotatidis commented on #505
@bensternthal can you please check if we can proceed with this?

[2018-05-17 11:07] glogiotatidis commented on #503
@k88hudson I's thinking about naming the new endpoint `Activity Stream NG` and start the url with `/6/`. Sounds good?

[2018-05-17 11:09] glogiotatidis commented on #404
* We are going to launch with one template only (simple snippet) in Fx62. Does the LCM team want to automatically serve all the Activity Stream Simple Template based Snippets to the new Activity Stream version or they want to have a different set of snippets?

[2018-05-17 12:16] glogiotatidis opened #506 "Convert some admin list_filters to dropdowns to improve the UI"

[2018-05-17 12:47] glogiotatidis commented on #353
Interesting projects:
 - https://github.com/silentsokolov/django-admin-permissions
 - https://github.com/lukaszb/django-guardian
 - https://github.com/dfunckt/django-rules

[2018-05-17 14:30] #506 closed

[2018-05-17 14:37] k88hudson commented on #503
Awesome!

[2018-05-17 14:56] glogiotatidis opened #510 "Snippet duplicate admin action does not copy client_options_*"

[2018-05-17 14:56] #343 closed

[2018-05-17 15:19] glogiotatidis commented on #504
Info will not be available before Fx62

[2018-05-17 22:34] katjoy commented on #352
Hey @glogiotatidis!

Michelle Anderson mentioned this might be an ideal snippet for national hamburger day.

Her GitHub is @mediaChick

[2018-05-17 22:41] mediaChick commented on #352
Monday, May 28 is Hamburger Day.

[2018-05-18 06:46] glogiotatidis commented on #352
OK that sounds fun, but what exactly you want to do with the hamburger menu? :)

[2018-05-18 16:56] mediaChick commented on #352
@glogiotatidis The hamburger menu to drop down when the link in a snippet is clicked. Is it possible to have that working by Hamburger Day, May 28?

[2018-05-21 08:05] glogiotatidis commented on #352
This kind of snippet it's very special because it interacts with the browser menus and requires special code and handling. I'm afraid we cannot reach the May 28th deadline.

Hamburger day aside, do you have a plan to use this feature anywhere else in 2018? Also is the request only for making the hamburger menu drop down when snippet clicked?

[2018-05-21 09:04] glogiotatidis commented on #368
Templates with first and second scene:

 - Firefox Accounts Signup
 - Newsletter Signup
 - Send to Device
 - Video Snippet

What's currently happening in all templates for Scene 1:
 - Clicking `X` button in Scene 1 *blocks* the snippet
 - No other buttons in Scene 1 block the snippet, i.e. clicking button / link to advance to Scene 2

What's currently happening in all templates for Scene 2:
 - Cli

[2018-05-21 09:07] glogiotatidis commented on #368
According to my previous comment this is what's happening right now. Only clicking on `X` on first scene blocks the snippet.

@katjoy @mediaChick do the above answer this issue?

[2018-05-21 09:19] glogiotatidis commented on #510
This was b/c cachalot was enabled on stage. It's now disabled and works as expected.

[2018-05-21 09:19] #510 closed

[2018-05-21 16:16] mediaChick commented on #352
Very special, indeed!

I think we just want the snippet link to open the menu, but I could be
wrong.

Kat, anything to add?

On Mon, May 21, 2018 at 1:05 AM, Giorgos Logiotatidis <
notifications@github.com> wrote:

[2018-05-21 16:28] katjoy commented on #352
Jean requested this feature. It was meant to give the user who clicks on a
snippet a tour of the hamburger menu.  This feature would be fabulous to
share with our new users as well as our existing users.  I do see the
snippet team using this feature in 2018, but I understand if you can't make
the May 28th deadline.

On Mon, May 21, 2018 at 9:16 AM, Michelle Anderson <notifications@github.com

--
*

[2018-05-21 16:47] katjoy commented on #368
Awesome. Yes, the above answers the issue. Thank you @glogiotatidis!

[2018-05-21 22:40] bensternthal opened #515 "Pingcenter Integration"
AS team is responsible for implementing template <--> pingcenter integration.

Our requirements for the 62 are that the Simple Snippet template sends the following data to pingcenter:

- Impressions
- Clicks
- Blocks
- Arbitrary Values set via html custom data attributes (data-metric)

[2018-05-21 22:41] bensternthal opened #516 "Implement Content Signing For JSON Endpoint"
Pending specs from AS.

[2018-05-21 22:42] bensternthal opened #517 "Activity Stream Segmentation Analysis"
- Which filtering capabilities we have in the new ASI.
- Can we use UITour in the new ASI

[2018-05-21 22:44] bensternthal opened #518 "Decide if We Serve All Activity Stream Simple Templates to Fx62 or subset."
We are going to launch with one template only (simple snippet) in Fx62. Does the LCM team want to automatically serve all the Activity Stream Simple Template based Snippets to the new Activity Stream version or they want to have a different set of snippets?

[2018-05-21 22:44] bensternthal commented on #404
closing this one.. created sep issues for each.

[2018-05-21 22:44] #404 closed

[2018-05-22 09:49] glogiotatidis commented on #518
Take into account the fact that we probably would have limited targeting capabilities as well. See #517

[2018-05-22 09:50] #368 closed

[2018-05-22 14:08] glogiotatidis commented on #503
Also where does the JEXL part fit in the schema @k88hudson ?

[2018-05-22 14:08] glogiotatidis opened #520 "Figure out how JEXL is going to work"

[2018-05-22 14:27] #352 closed

[2018-05-23 09:29] glogiotatidis opened #521 "Develop a plan for special links and actions in new Activity Stream"
Snippets service uses a number of special links to trigger actions in the browser, namely:
 * Linking to `about:accounts` triggers `gSnippetsMap.showFirefoxAccounts()`
 * Linking to `uitour:showMenu:appMenu` and `uitour:hideMenu:appMenu`, shows and hides the appMenu accordingly, using UITour.

It's very possible that in the future we'd like to use additional UITour -or other- special functionality

[2018-05-23 11:06] glogiotatidis opened #522 "Preview of Snippets in the new Activity Stream"
We need a way to preview the snippets in the system. Currently we host the templates and we render a fake `about:home` page with the template content.

We discussed about extending AS addon so it can preview snippets directly in the real `about:home` page. One possible solution would be to allow URLs like

  - `about:home?preview=XXXX-XXXX`

where `XXXX-XXXX` is a uuid generated by the snippets se

[2018-05-23 11:08] glogiotatidis opened #523 "Template syncing between AS and Snippets service"
We talked about having the templates accompanied by a JSON which lists all the variables in the template and their types.

Conclude on the
 - Schema
 - Hosting of the JSON
 - Ownership of the JSON (probably the same as the template owner)
 - Integration with the Snippets Service

This depends on how we end up previewing the snippets. See #522

[2018-05-23 12:43] piatra commented on #522
Addons can't link to certain `about:` pages like `home` and `newtab`.
Right now ASRouter endpoint can be changed through prefs to point to a different location. It's not a great process but shouldn't that be enough to preview new snippets?

[2018-05-23 13:29] glogiotatidis commented on #522
I'm afraid changing prefs manually is not acceptable as a preview method.

So to make sure I understand correctly we cannot make the AS addon read a parameter from the URL and change the location from where it requests snippets?

In other words AS cannot read `XXXX` from `about:home?preview=XXXX`?

[2018-05-23 13:32] glogiotatidis commented on #522
(adding more info)

It won't have to change the `about:config` pref b/c it's preview, we only need to get the url once and display the snippet

[2018-05-23 13:47] piatra commented on #522
Got it

In other words AS cannot read XXXX from about:home?preview=XXXX?

Sorry I misunderstood this. Yes AS can read query parameters but there is still the issue of security around `about:` pages and not being able to link to them. A user would have to manually open the tab and paste that address in.

Website whitelisting isn't very likely due to how access is implemented ([this is the flag abou

[2018-05-23 18:52] k88hudson commented on #522
I think we'll be able to use a URL-based method like you described, however we have to do it through some kind of intermediary page (maybe `about:messages` or something like that) as well as have some UI to clearly indicate you are in a "preview mode".

I filed a bug here: https://bugzilla.mozilla.org/show_bug.cgi?id=1463836, and @piatra is going to book an initial meeting with security to get som

[2018-05-24 05:59] glogiotatidis commented on #522
Excellent! Going through an intermediary page shouldn't be a problem, as long as it's as automatic (read "one-click") as possible.

Yes to preview mode!

[2018-05-24 07:27] glogiotatidis commented on #352
OK I managed to get this in this week and it's ready for the ham day!

Since this is a special link which may be confusing I create a test snippet for you  @katjoy @mediaChick

https://snippets-admin.us-west.moz.works/admin/base/snippet/8293/

Let me know if you have any questions.

[2018-05-24 07:33] glogiotatidis opened #525 "Validate snippet text against the supported HTML tags"
The new AS router will support only a subset of HTML tags. Create the appropriate validation / cleaning on the snippets service side.

Waiting on a full list of supported tags from the AS team. See also https://bugzilla.mozilla.org/show_bug.cgi?id=1457233

[2018-05-24 11:33] glogiotatidis commented on #503
@k88hudson can you confirm that's OK if the endpoint returns

 - 200 with JSON content
 - 302 to JSON content
 - 204 with no content (optional)

?

[2018-05-24 11:39] glogiotatidis opened #526 "Add template code name variable for use in new ASI"
The new ASI [JSON schema](https://github.com/mozilla/activity-stream/blob/master/system-addon/content-src/asrouter/schemas/provider-response.schema.json) needs the template name.

In addition to the existing `SnippetTemplate.name` which now holds the human readable name, add a `SnippetTemplate.code_name` which will hold the name for use in the schema

[2018-05-24 11:47] glogiotatidis opened #527 "Add template version field for the new ASI"
Since templates will be delivered async to the snippets we need a form of template versioning to ensure that the correct version of a template is applied to the correct version of the snippet.

Add a number field to indicate the version, starting with `1` for the current templates as they exist in the `mozmeao/snippets` repo.

There need to be discussions about how the clients are going to react w

[2018-05-24 11:57] glogiotatidis commented on #503
@k88hudson your current schema for simple template does not match the simple template currently in use. Besides the `button_type` that we already talked about, there' re multiple fields missing:

[code]

Could you please provide some insight on whether these are going to be supported or not?

[2018-05-24 17:26] k88hudson commented on #503
re other variables, I filed a ticket[ here](https://bugzilla.mozilla.org/show_bug.cgi?id=1464126) to implement these; would it be ok to remove `blockable`/(default it to `true`) though? I think we want to make sure all snippets are blockable

[2018-05-24 17:27] k88hudson commented on #503
re the HTTP codes, I will write some tests to confirm the they work as expected

[2018-05-24 17:41] mediaChick commented on #352
This is so awesome!

Is there a way I can view the menu opening since I can't preview it?

On Thu, May 24, 2018 at 12:27 AM, Giorgos Logiotatidis <
notifications@github.com> wrote:

[2018-05-24 20:40] pmac commented on #527
I like that. The idea being that we could then in the JSON specify e.g. "1" or "1.2" to indicate "latest 1.x" or "latest 1.2.x" respectively?

[2018-05-24 20:44] pmac commented on #527
Or I guess the full [semver spec](https://docs.npmjs.com/misc/semver)?

[2018-05-25 06:10] glogiotatidis commented on #352
Maybe you can run the snippet on nightly and test it there.

[2018-05-25 17:43] mediaChick commented on #352
Sure, I can do that.

But preview links aren't working at all right now for me, for any snippet
templates.

Not this: https://snippets-admin.us-west.moz.works/preview/ (links are dead)

Or this:
https://snippets-admin.oregon-b.moz.works/show/uuid/57a39fdc-9c45-4321-8e24-beffc29341f7/

I get this:

And links are also not working on the preview that opens when clicking the
magnifying glass at: Home

[2018-05-25 18:23] bensternthal opened #528 "Reports That All A HREF Links in Snippets Are No Longer Working"
Reported via slack from Michelle Rae:

I am able to verify that something is broken. Testing here it looks like the hrefs are there but clicking does not work. I am suspicious of a [recent PR.](https://github.com/mozmeao/snippets-service/pull/519)

[2018-05-25 18:34] k88hudson commented on #528
I took a quick look at this, I'm thinking it might be this line here:
https://github.com/mozmeao/snippets-service/pull/519/files#diff-050fa7fbdf0fa60913c8fc36985fa302R567

Re-triggering the click would run this through the handler a second time and cause `e.preventDefault` again no?

[2018-05-25 19:27] bensternthal commented on #528
I agree.

OK will need to wait until Monday when we can do a push. I spoke with the snippets content team about which content can run from now until monday. Also emailed Giorgos so he knows to work on this first thing.

[2018-05-29 07:17] glogiotatidis commented on #528
Fixed [here](https://github.com/mozmeao/snippets-service/pull/529) and pushed to prod.

tl;dr introducing a new special link to open the ham menu, complicated the metric collection and broke non-newtab 'normal'  links  by calling `preventDefault` always.

Thanks for the help!

[2018-05-29 07:17] #528 closed

[2018-05-29 07:36] glogiotatidis commented on #352
We fixed the broken links today. The ham links worked, so my suggestion to run a test on nightly holds.

Thanks!

[2018-05-30 07:29] glogiotatidis commented on #503
(capturing what we said in the mtg): Lisa will discuss with LCM team about the block button.

[2018-05-30 10:11] glogiotatidis commented on #525
Supported tags

 - i, b, u, strong, em, br

Links will have to be parsed in a special way as described in  https://bugzilla.mozilla.org/show_bug.cgi?id=1457233#c6

[2018-05-31 11:49] glogiotatidis commented on #527
@k88hudson / @piatra could you please update the AS schema with the template version variable?

[2018-05-31 11:55] glogiotatidis opened #531 "Investigate Alerting in the Activity Stream Router / Ping Center Era"
Right now we have a Datadog anomaly detection monitor which observes the metrics we collect from snippet previews and clicks.

This not only verifies that the metric collection mechanism works but also that the snippet delivery mechanism works, by closing the delivery-impression-metric collection loop.

Investigate the possibility to have something similar during the Activity Stream Router / Ping

[2018-05-31 12:21] glogiotatidis opened #532 "Update SSO callback URLs"
We're going to be move snippets-admin to `https://snippets-admin.mozilla.org`. File an issue in ServiceNow to update the SSO callback URLs when the new domain is in place.

See also

 - https://github.com/mozmeao/infra/issues/843
 - https://github.com/mozmeao/snippets-service/issues/522

[2018-06-01 15:38] ldwright commented on #503
@glogiotatidis Per the above, LCM is comfortable with making blocking a default/standard on all snippets. Currently the checkbox always gets checked when snippets are programmed and we weren't able to identify any mission critical use cases where a snippet would need to not be blockable. We’ll want to remove that checkbox from the Admin side if it’s no longer necessary, too.

[2018-06-01 15:45] ldwright commented on #503
@glogiotatidis Per the above, LCM is comfortable with making blocking a default/standard on all snippets. Currently the checkbox always gets checked when snippets are programmed and we weren't able to identify any mission critical use cases where a snippet would need to not be blockable.

[2018-06-04 16:11] glogiotatidis opened #534 "[new permission] Snippet Editor"
For each channel (release, beta, etc) create a new permission that will allow users to `create` / `edit` / `delete` snippets.

This permission is not sufficient for users to `publish` a snippet.

This is currently only for the Desktop Snippets

[2018-06-04 16:13] glogiotatidis opened #535 "[new permission] Snippet Viewer"
For each channel (release, beta, etc) create a new permission that will allow users to view snippets.

This permission must not allow any editing.

This is currently only for the Desktop Snippets

[2018-06-04 16:13] glogiotatidis commented on #353
Created:
 - #534
 - #535

[2018-06-04 16:15] glogiotatidis opened #536 "[new permission] Snippet Publisher"
For each channel (release, beta, etc) create a new permission that will allow users to publish snippets.

 - A user with permission to publish on X channel must be allowed to set `published` to `True` from `False` and the other way around when the snippet is set to publish on X channel.
 - If multiple publication channels are selected, user must have publication permissions for all selected channe

[2018-06-04 16:17] glogiotatidis commented on #353
Closing this one in favor of the newly created ones.

[2018-06-04 16:17] #353 closed

[2018-06-06 11:46] glogiotatidis commented on #518
Given that we're going to have limited targeting options, I suggest that we create new Snippets for Fx62.

When we get all targeting options and templates available (that's probably Fx63) we could build automation to migrate existing Snippets to the new Activity Stream integration to lower the burden on Content Creators.

@Ldwright can you please help with this decision?

[2018-06-06 11:48] glogiotatidis commented on #520
We're waiting on specs and a couple of filters made available by the AS team so we can test.

[2018-06-06 11:51] glogiotatidis commented on #516
Waiting on more information from the AS team

[2018-06-06 11:53] glogiotatidis commented on #517
See also #521

[2018-06-06 11:58] glogiotatidis commented on #521
@k88hudson do you think that's something we can get on FF62?

[2018-06-06 12:16] glogiotatidis opened #540 "Extract <a href> from content to seperate json entries"
Per [comment 6 in bug 1457233](https://bugzilla.mozilla.org/show_bug.cgi?id=1457233#c6) we need to extract the `a` tags from content and provide them as separate json entries. The special `data-metric` attrib will be migrated as well.

Example

[code]

[2018-06-06 17:58] bensternthal opened #542 "500 Errors Reported Via Admin Users"
Kat & Michele both encountered a 500 error around 9.53- 9.57 am PT. The issue looks to have resolved itself but wanted to flag if we wanted to poke around the logs.

[2018-06-06 18:00] bensternthal commented on #542
Looking in papertrail I see a lot of errors:

`Jun 06 10:42:33 ip-10-0-39-207 kubernetes.var.log.containers.kube-controller-manager-ip-10-0-39-207.us-west-2.compute.internal_kube-system_kube-controller-manager-e9aa9a1bd3c8ca07fbec5e3d51b4f714bcdadaf1777e7555dbbc5b7e17f7d876.log: {"log":"I0606 17:42:33.166617       5 deployment_controller.go:483] Error syncing deployment snippets-prod/snippets-prod

[2018-06-06 18:13] jgmize commented on #542
The "Unknown MySQL server host"  error is one we've seen intermittently on several apps. Internal DNS resolution (and networking in general) in AWS is unfortunately not as reliable as we'd like and is one of the reasons we're evaluating GCP.

[2018-06-06 20:38] bensternthal opened #543 "Document Adding A New Admin User"
Since we are using LDAP it's not 100% obvious how new users are added.

[2018-06-06 20:43] #403 closed

[2018-06-06 20:51] bensternthal opened #544 "62 Snippet Specs"
The following are the implementation details for the 62 snippet.

- **Only** the Simple Snippet With Button template will be served as part of this experiment. {if not just simple snippet [AS must provide list of templates they will implement](https://docs.google.com/a/mozilla.com/document/d/1E_1hxrU4GNMwKz6rwN4Iw8LoTefUmUl6wneyJ9-7U84/edit?disco=AAAAB-fQSYM)} :heavy_exclamation_mark:
- The appear

[2018-06-06 20:58] bensternthal opened #545 "End Legacy Analytics Support"
Pingcenter is only available in newer versions (63+ we think) of firefox. Therefore we need a sunset strategy for GA in older versions.

## Requirements from Marshall

1. Ideally should not respect DNT, rather should respect telemetry setting and apply to all measurements. Includes impression & clicks.
1.  Proxy usage is within policy. Sunset policy is on us.

## Handy Docs
- [Hybrid-Content Migra

[2018-06-07 10:18] glogiotatidis opened #548 "Saving list view changes returns a 504 error"
This is only happening on prod. Cannot reproduce on stage or locally. Saving snippets normally works.

[2018-06-07 11:51] glogiotatidis opened #550 "Set code_name for Simple Snippet Template to `simple_snippet`"
After #526 lands

[2018-06-07 12:13] glogiotatidis opened #551 "Display only AS Router Templates in Template Dropdown in SnippetNG Edit"
After pushing
 - [x] Set Activity Stream templates to version 5
 - [x] Create a copy of AS Simple Snippet for ASRouter and set it to version 6

[2018-06-11 20:49] glogiotatidis commented on #544
Also
 * The response **may** will be content signed #516

[2018-06-11 20:53] glogiotatidis commented on #545
We already do that for AS snippets. [Code](https://github.com/mozmeao/snippets-service/blob/master/snippets/base/templates/base/includes/snippet_as.js#L601)

ACK. I suggest that we sunset together with the Snippets for 1-4 Startpage Versions (i.e. old about:home) and with 5 Startpage Version (i.e. current AS implementation). We should plan that for EOY 2018

[2018-06-12 07:42] jgmize commented on #542
No further issues or action needed.

[2018-06-12 07:42] #542 closed

[2018-06-13 19:52] #376 closed

[2018-06-13 19:53] #377 closed

[2018-06-14 22:50] glogiotatidis opened #558 "Create new Django Admin Group for Snippets NG"
- [x] Create new Snippets NG Group and assign the add/edit/delete Snippet NG permissions to it.
- [x] Assign users to group

[2018-06-14 23:05] glogiotatidis opened #559 "Only validate for strict XML snippets targetted to start page 1-4 versions"

[2018-06-15 00:03] glogiotatidis commented on #525
Maybe can be tackled together with #559

[2018-06-15 06:23] glogiotatidis opened #560 "Save as new sets published to True"
Clicking `save as new` when editing a snippet always sets `published` property to `True`.

This is a regression that appeared after #546

[2018-06-15 15:51] bensternthal commented on #520
Docs due next week.

[2018-06-18 06:36] glogiotatidis opened #565 "Extend link converter in fluent format to more template fields"
In #540 we built a link converter to fluent format for the simple snippet template. We want to extend this to all the template fields marked `fluent` or `html`

This currently awaits AS implementation.

[2018-06-18 06:36] glogiotatidis commented on #540
The (current template schema](https://github.com/mozilla/activity-stream/blob/75050a9ade903ac12c28dd18391048f05c2d51a9/content-src/asrouter/templates/SimpleSnippet/SimpleSnippet.schema.json) does not define which fields should be have this treatment, all fields are of `string` type.

We decided to:
 - Go ahead and do this only for `text` field for the simple snippet for 62
 - Define a new string t

[2018-06-18 14:24] glogiotatidis commented on #527
hey @piatra I see that https://github.com/mozilla/activity-stream/blob/master/content-src/asrouter/templates/SimpleSnippet/SimpleSnippet.schema.json#L4 reads version `0.2.0` but we agreed here to start with version `1.0.0`. Can you please update?

[2018-06-19 06:45] glogiotatidis opened #567 "Remove XML enforcement for snippets targetting start pages >= 5 (i.e. AS snippets)"

[2018-06-20 18:53] k88hudson commented on #503
@glogiotatidis oops, sorry! updated link is here:

https://github.com/mozilla/activity-stream/blob/master/content-src/asrouter/schemas/provider-response.schema.json

[2018-06-20 18:53] k88hudson commented on #503
(I also updated the top comment)

[2018-06-21 14:34] bensternthal opened #571 "Research Snippet Spend"
Cloud health is reporting an increase in snippet spend that does not look consistent with traffic.

In other words traffic and bytes transferred look generally the same as the previous month.

Reached out to shyam.. I am not sure I trust cloudhealth is reporting the right info.

[2018-06-21 18:54] bensternthal opened #572 "Snippet Admin Returning 500"
Reported to me via slack by michelle and I confirmed.

The following url returns 500. Note other urls seem to be fine.
https://snippets-admin.us-west.moz.works/admin/base/snippet/

@jgmize tagging you in here in case this is infra related if not, will have @glogiotatidis  look at tomorrow morning.

<img width="774" alt="screen shot 2018-06-21 at 11 52 25 am" src="https://user-images.githubusercont

[2018-06-21 19:01] jgmize commented on #572
Replicated this issue, I see the tracebacks here: https://rpm.newrelic.com/accounts/1299394/applications/41872252/filterable_errors#/show/0e1042da-7585-11e8-aca1-0242ac110007_3306_7565/stack_trace?top_facet=transactionUiName&primary_facet=error.class&barchart=barchart

[2018-06-21 19:11] jgmize commented on #572
Tracebacks from sentry:

[code]

[2018-06-21 19:28] jgmize commented on #572
This appears to be a separate issue from #542

[2018-06-21 19:37] jgmize commented on #572
Filed https://github.com/mozmeao/snippets-service/pull/573 which should fix the issue

[2018-06-21 19:39] #572 closed

[2018-06-21 19:48] glogiotatidis commented on #572
It's fine now. Thanks for reporting @bensternthal

[2018-06-25 14:34] bensternthal commented on #571
May
All Data:	Total: 535,755.1151 GB
All Requests:	Total: 5,778.2412 M
Cloudhealth Cost: 6.18k

June
All Data:	Total: 421,136.9878 GB
All Requests:	Total: 5,073.7948 M
Cloudhealth Cost: 12.73k So far

[2018-06-25 15:37] mediaChick commented on #560
@glogiotatidis When do you think this issue will move from Review to Complete?

[2018-06-25 15:51] #560 closed

[2018-06-27 20:49] metadave commented on #571
met w/ Shyam today, we can't find any extra charges for the Snippets CDN. Shyam will email us screenshots of our findings.

[2018-06-28 19:08] mediaChick opened #581 "[Activity Stream] EOY 2017 Snippet Template Button Text Color CSS conflict"
Issue reported today by Mac users that the button text displayed on snippets using the EOY 2017 Snippet Template look like this:
![screen shot 2018-06-28 at 11 29 16 am](https://user-images.githubusercontent.com/39389621/42055217-5132a7ea-7acb-11e8-9f40-0eb6b1c336fc.png)

On PCs it looks like this:
![image](https://user-images.githubusercontent.com/39389621/42055252-6cd78aec-7acb-11e8-8362-505201e

[2018-06-28 19:09] pmac commented on #581
Working on this now.

[2018-06-28 19:11] pmac commented on #581
Appling @craigcook's suggested fix of changing the CSS rule for the button text color to `#snippets-container .snippet .donation-form-url`.

[2018-06-28 19:23] pmac commented on #581
Seems to have worked! Changes are rolling out now. Please reopen if this hasn't fixed the issue for all platforms.

[2018-06-28 19:23] #581 closed

[2018-06-28 19:23] ldwright commented on #581
Looks good now - this appears to be resolved. Thanks all!
<img width="763" alt="screen shot 2018-06-28 at 12 17 15 pm" src="https://user-images.githubusercontent.com/32490072/42056099-14028d6a-7ace-11e8-867c-2e81c3abd042.png">

[2018-06-29 18:04] metadave commented on #571
thanks @pmac for pointing out that this [snippet](https://snippets-admin.us-west.moz.works/show/uuid/2b5fd5a7-60b4-4d19-b417-c8c03c431d4f/ ) is using a [preload](https://github.com/mozmeao/snippets/blob/master/activity-stream/simple-video-snippet.html#L189).

[2018-07-02 16:53] mediaChick commented on #560
Clicking "save as new" when editing a snippet still sets published property to True.

[2018-07-02 18:04] jgmize commented on #560
#561 was merged into master but not yet into production: https://github.com/mozmeao/snippets-service/compare/production...master

[2018-07-02 18:20] jgmize commented on #560
@mediaChick the fix in #561 has now been deployed into production; would you mind verifying that it works correctly now?

[2018-07-02 19:51] mediaChick commented on #560
@jgmize It does! Thank you!

[2018-07-03 20:00] jgmize commented on #532
see https://github.com/mozmeao/infra/issues/843#issuecomment-402274810 -- next step is to update SSO callback url

[2018-07-17 14:59] #571 closed

[2018-07-18 06:30] glogiotatidis commented on #532
Filed servicenow request to update callback and logout URLs

[2018-07-18 11:28] glogiotatidis opened #606 "Automatically update templates from AS template schemas"
- Also implement proper form validation of required template fields.

[2018-07-19 09:08] glogiotatidis commented on #532
- Updated `ADMIN_REDIRECT_URL` in snippets-prod tokyo, frankfurt, oregon.
 - Updated SSO callback URLS
 - Emailed users with active logins about the URL change.

This is now done. Thanks!

[2018-07-19 09:08] #532 closed

[2018-07-19 10:35] glogiotatidis opened #609 "Fix AS Templates close button in nightly"
See bug https://bugzilla.mozilla.org/show_bug.cgi?id=1476285

Caused by changes in AS in bug https://bugzilla.mozilla.org/show_bug.cgi?id=1464782

[2018-07-20 09:01] #525 closed

[2018-07-20 09:01] #567 closed

[2018-07-23 07:50] glogiotatidis commented on #522
Currently blocked by [1477631](https://bugzilla.mozilla.org/show_bug.cgi?id=1477631)

[2018-07-23 09:53] #558 closed

[2018-07-23 09:53] glogiotatidis commented on #503
This is now in production

[2018-07-23 09:53] #503 closed

[2018-07-23 09:57] glogiotatidis commented on #518
We hand picked 5 snippets to run on SnippetsNG

https://activity-stream-icons.services.mozilla.com/v1/messages.json.br

Will go with these for now and we can re-eval before prime time if needed

[2018-07-23 09:57] #518 closed

[2018-07-23 09:59] glogiotatidis commented on #540
This is now on prod and works fine. Will be extended to more fields in #565

[2018-07-23 09:59] #540 closed

[2018-07-23 10:00] #551 closed

[2018-07-23 10:06] glogiotatidis commented on #565
AS Template Schema now includes field type

[code]

[2018-07-23 10:18] glogiotatidis commented on #515
@k88hudson can you please confirm that AS Router sends the following data to pingcenter and provide links to docs /code?

``
    Impressions
    Clicks
    Blocks
    Arbitrary Values set via html custom data attributes (data-metric)
``

[2018-07-23 10:20] glogiotatidis commented on #521
@k88hudson can you please provide a list of available actions?

[2018-07-23 10:22] glogiotatidis commented on #522
Moving this to 2018Q3 milestone

[2018-07-23 10:31] glogiotatidis commented on #520
Docs here [message-format.md#targeting-attributes](https://github.com/mozilla/activity-stream/blob/master/content-src/asrouter/schemas/message-format.md#targeting-attributes)

[2018-07-23 10:32] glogiotatidis opened #616 "Add frequency capping for AS Router Snippets"
See docs here [message-format.md#activity-stream-router-message-format](https://github.com/mozilla/activity-stream/blob/master/content-src/asrouter/schemas/message-format.md#activity-stream-router-message-format)

[2018-07-23 10:33] glogiotatidis opened #617 "Implement JEXL targeting for SnippetsNG"
* See docs  [message-format.md#targeting-attributes](https://github.com/mozilla/activity-stream/blob/master/content-src/asrouter/schemas/message-format.md#targeting-attributes)
* https://github.com/mozilla/pyjexl
* https://github.com/TechnologyAdvice/Jexl
* Normandy's approach https://github.com/mozilla/normandy/blob/master/normandy/recipes/filters.py
* See #650

[2018-07-23 10:34] glogiotatidis commented on #520
We now know who this is going to work. Filed #617 to implement it

[2018-07-23 10:34] #520 closed

[2018-07-23 10:39] glogiotatidis opened #618 "Implement publish start and publish end for SnippetsNG"

[2018-07-23 10:44] glogiotatidis commented on #609
Fixed in prod

[2018-07-23 10:44] #609 closed

[2018-07-23 17:08] k88hudson commented on #521
(see also https://docs.google.com/document/d/1E_1hxrU4GNMwKz6rwN4Iw8LoTefUmUl6wneyJ9-7U84/edit#)

Available actions include:
 - `OPEN_PRIVATE_BROWSER_WINDOW`: This opens a blank private browsing tab in a new window
- `OPEN_ABOUT_PAGE`: This is necessary to open pages that are not otherwise linkable due to security reasons, such as about:preferences
-`SHOW_FIREFOX_ACCOUNTS`: opens the firefox accou

[2018-07-24 13:51] glogiotatidis opened #620 "Add `generated_at` key in AS Router payload"
Add `generated_at` with UTC datetime in ISO format in AS Router payload for debugging purposes

Final payload should look like this:

[code]

[2018-07-24 14:20] glogiotatidis commented on #620
This should be alright. Tried with current nightly and doesn't affect its behavior. Thoughts @k88hudson?

[2018-07-24 19:10] #620 closed

[2018-07-25 10:29] glogiotatidis commented on #536
/cc @ldwright

[2018-07-25 10:30] glogiotatidis opened #624 "[new permission] Snippet Viewer"
A user with this permission

 - can view snippets
 - they are not allowed to add new or edit and delete existing snippets.

/cc @ldwright

[2018-07-25 15:47] mediaChick opened #625 "[Activity Stream] Simple snippets with Button Template Has a Button Text Color CSS conflict"
Identical to [Issue 581](https://github.com/mozmeao/snippets-service/issues/581), the default text color for buttons displays as bright blue and changing the color hex code doesn't change the color. (See #581 for screenshots.)

Issue #581 was fixed by changing the CSS rule in the button text color to #snippets-container .snippet .donation-form-url. Will that also work for this issue?

If yes, plea

[2018-07-26 11:36] glogiotatidis commented on #536
@ldwright updated the [permission model](https://github.com/mozmeao/snippets-service/issues/536#issue-329124397). I ended up implementing more granular per-channel permissions so we can allow users to have pre-release only publication rights.

[2018-07-26 11:58] glogiotatidis commented on #344
See also https://github.com/mozilla/activity-stream/pull/4145/

[2018-07-27 09:05] glogiotatidis commented on #625
Fixed all templates in https://github.com/mozmeao/snippets/commit/d8b5eaf80d3b6bf8328c4812e2413edf70660b36

[code]

EOY 2017 was already fixed in https://github.com/mozmeao/snippets/commit/dc81f2e71a4ee7e79923bad4c628ae650aa18418

[2018-07-27 09:05] #625 closed

[2018-07-27 09:16] glogiotatidis commented on #625
@mediaChick you might want to keep in mind that Activity Stream adapts to Firefox themes. Changing the button color may not appear nicely on all themes. Default button values on the other hand adapt.

[2018-07-27 18:23] mediaChick opened #629 "Snippets not displaying as expected for all after the A/S Router implimentation"
The five (5) hard-coded AS Router snippets in the Snippets NG base are not displaying as expected for me, but they are for @glogiotatidis. Clearing my browser cache didn't fix this issue.

**Fx GA 61.0.1**
Clicking "Preview URL" in the snippet admin or on the magnifying glass icon in Snippets NG base displays snippets that look like this:
![snippetng-release channel- snippet view](https://user-ima

[2018-07-30 07:50] #618 closed

[2018-07-30 08:00] glogiotatidis commented on #629
Thanks for reporting @mediaChick

@ldwright do you have the same issue?

[2018-07-30 08:30] #344 closed

[2018-07-30 10:10] glogiotatidis commented on #629
Thanks for this more detailed bug report @mediaChick. Your `Clicking "Preview URL" ` comment made it possible to identify the issue. I's using the preview button under the template fields which was working fine.

[2018-07-30 10:13] #629 closed

[2018-07-30 10:21] glogiotatidis opened #633 "Fix 504 Gateway timeouts on snippets-admin"
Snippets admin occasionally returns 504 gateway timeout.

![image](https://user-images.githubusercontent.com/584352/43392170-86693638-93fb-11e8-9ebc-c6c2167bec66.png)

[2018-07-30 10:22] glogiotatidis commented on #633
Increase the number of pods to 5 (from 3) on Friday 2018-07-27. To check again in a few days.

[2018-07-30 11:32] glogiotatidis commented on #544
We successfully delivered for Firefox 62 the above except for:
 * The response **may** will be content signed #516
 * JEXL based targeting may be included and is dependent on specs from AS.

Marking fixed.

[2018-07-30 11:32] #544 closed

[2018-07-30 11:35] glogiotatidis commented on #517
The docs here describe the available JEXL which define the filtering capabilities besides locale and channel (which two are server side)

https://github.com/mozilla/activity-stream/blob/master/content-src/asrouter/schemas/message-format.md#targeting-attributes

AS provides another way to open Special / Deep links that we used UITour for. We still gather info on how this can be used by Snippets.

[2018-07-30 11:35] #517 closed

[2018-07-30 11:43] glogiotatidis commented on #545
- After we deploy AS Router to 100% of all browsers, for how long do we want to:
  - Be able to collect metrics, including impressions, clicks and blocks for Snippets from old systems?
  - Be able to publish new Snippets to old systems?

Definition of `old systems`:
 - All Snippets targeted to Startpages 1-4 (pre Quantum)
 - All Snippets targeted to Startpages 5 (Quantum and up to the firefox we f

[2018-07-30 12:06] glogiotatidis opened #634 "Link to images instead of embedding them in the payload"
Currently images are data URIs. We want instead to link to image. This will reduce the size of the payload and allow users to download only the images that will see and only once.

Make this change only for SnippetsNG payload.

[2018-07-30 12:06] glogiotatidis commented on #387
Brotli compression significantly reduced costs (bundle size down to 0.5mb from 2.2Mb when gzipped).

We will change the payload to link to images instead of including them as data URIs. This change will be applied to SnippetsNG (AS Router) payload. Tracked in #634

[2018-07-30 12:07] glogiotatidis commented on #387
Decision engine will move to AS Router in the near future which will render this obsolete. Closing.

[2018-07-30 12:07] #387 closed

[2018-07-30 12:08] glogiotatidis commented on #388
Brotli compression provided enough reduction in Apr. To improve on that we will go fwd with moving the images outside the bundle for SnippetsNG. Tracked in #634

[2018-07-30 12:08] #388 closed

[2018-07-30 12:09] glogiotatidis commented on #505
See also #545

[2018-07-30 12:10] glogiotatidis commented on #548
Cannot reproduce on Snippets or SnippetsNG

[2018-07-30 12:10] #548 closed

[2018-07-30 12:11] glogiotatidis commented on #559
Fixed in https://github.com/mozmeao/snippets-service/commit/610b5b57272baca2f4237e0de85f967f24a693a1

[2018-07-30 12:11] #559 closed

[2018-07-30 12:17] glogiotatidis commented on #331
Thanks for reporting @jpetto

[2018-07-30 12:17] #331 closed

[2018-07-30 12:31] glogiotatidis commented on #324
Snippets are not showing up for new users profiles until onboarding is finished.

An exception to the statement above: Snippets may show up once along with onboarding if `gSnippetsMap.get("appData.onboardingFinished") ` hasn't been populated yet.

This will be replaced with new logic in AS Router which should fix this issue as well. See bug [1462415](https://bugzilla.mozilla.org/show_bug.cgi?id=14

[2018-07-30 12:31] #324 closed

[2018-07-30 12:34] glogiotatidis commented on #342
@ldwright is this still wanted? If so can you please describe why we use this naming convertion? Is it to work around limitations in snippets management UI and searching? If so could we fix those issues or is naming important either way?

[2018-07-30 12:52] glogiotatidis commented on #504
Tried getting the info with

[code]

and while I get a list of addons, now the disabled addons are not listed at all. The expected outcome would be that the addon is listed the `userDisabled` is set to `true`.

We originally discussed this in https://github.com/mozmeao/snippets-service/issues/343#issuecomment-387399040

@k88hudson do you have any insight on this?

[2018-07-30 16:19] mediaChick commented on #629
@glogiotatidis @ldwright The views all look great for me on both GA and Beta now. Yay!

[2018-08-01 07:52] glogiotatidis commented on #633
Set `WSGI_KEEP_ALIVE=90 WSGI_NUM_WORKERS=2` to match `snippets-prod` configuration

[2018-08-01 10:20] glogiotatidis opened #635 "Upgrade to Python 3 and Django 2.0"

[2018-08-01 10:22] glogiotatidis opened #636 "Make all AS templates blockable by default."

[2018-08-01 11:00] glogiotatidis opened #637 "Make a campaign filter for admin list view"

[2018-08-01 11:09] glogiotatidis opened #638 "Block snippets after default action taken."
Snippets should not appear again (i.e. get added to block list) after default action has been taken (i.e. user clicked `donate` on a fundraising snippet).

Change all AS template to default to this action.

[2018-08-01 11:14] glogiotatidis opened #639 "Investigate the relation between Aurora and Dev channels in Snippets context"
Snippets service allows targeting of Aurora channel. Aurora has ben replaced by Dev channel.

Investigate
 - if we still get pings from Aurora browsers
 - How Dev browsers ask data from Snippets

And based on the results decide on removing Aurora checkbox and on adding Dev checkbox.

[2018-08-02 10:14] glogiotatidis opened #642 "Upgrade to Django 2.1"
- [x] Upgrade middleware

[2018-08-03 07:42] glogiotatidis commented on #633
The last configuration from Aug 1st has completely eliminated the errors.

[2018-08-03 07:42] #633 closed

[2018-08-03 07:44] glogiotatidis commented on #633
@ldwright @mediaChic

This issue is related to the blank pages you occasionally got while using snippets-admin. Is you still experience the issue please reply here.

[2018-08-06 08:14] glogiotatidis commented on #469
latest update: Fennec Snippets code is still around, even on the latest Firefox versions. Reaching out to Firefox team about this

[2018-08-06 09:19] glogiotatidis opened #643 "Customize via env vars Django Admin Title and Header."
Set env variables for:
 - [x] dev
 - [x] stage
 - [x] admin (prod)

[2018-08-06 09:28] #643 closed

[2018-08-06 10:01] #536 closed

[2018-08-06 14:39] glogiotatidis opened #646 "Add db index to Snippet.published"

[2018-08-06 14:39] glogiotatidis opened #647 "Add db indices to Snippet.on_startpage_[4,5]"

[2018-08-07 22:46] ldwright opened #648 "Add Status field for snippet Content Creators to alert Admins to Publish"
We want to be able to assign statuses to snippets in the admin tool (outside of just published or not published) so when new Content Creators are onboarded and begin programming their own snippets, rather than them having to manually alert Michelle [Publishing Admin] that their snippets are ready for review/QA - they can just set its status (e.g. from "In Development" to "Ready for Review") that w

[2018-08-07 22:52] ldwright opened #649 "iCal / Google Calendar feed does not work as expected"
We'd love to be able to use the snippets service to easily see & share editorial visibility in a Calendar format (rather than just a list format like https://snippets-admin.moz.works/ currently provides) as to what snippets are currently published and/or scheduled to be published in the upcoming weeks/months (across everything and drilled down per channel/by locale, etc.).

Workaround until this g

[2018-08-08 05:45] glogiotatidis commented on #649
@ldwright would you mind filing an issue about the current Google Calendar integration issue b/c I'm not aware of the issue?

[2018-08-08 05:54] glogiotatidis commented on #648
Specs:

Create a drop-down menu bellow `published` checkbox.

The dropdown would list the values:
 - `In Development` (default value)
 - `Ready for Review`
 - `Ready to Publish`

Each time a Snippet's Status changes from another state to `Ready for Review` emails to the following recipients would go out:

 - Michelle
 - Jean
 - Lisa

with

 - Subject `Snippet [snippet name] is ready for review`
 -

[2018-08-08 05:55] glogiotatidis commented on #648
@ldwright @mediachick do the above specs meet your requirements?

[2018-08-09 10:37] glogiotatidis opened #650 "AS Snippets and AS Router Attribute Targeting Check List"
Current System              | AS Router        | OK
-----------------------------|------------------|---------
 Publish Start               | Server Side (*)   and https://github.com/mozmeao/snippets-service/issues/667 | :ok_hand:
 Publish End                 | Server Side (*)   and https://github.com/mozmeao/snippets-service/issues/667 |:ok_hand:
 Prevalence (weight)         |      https://bugzil

[2018-08-09 10:51] glogiotatidis opened #651 "AS Router Special Links Check List"
AS Snippets | AS Router
-----------------|--------------
about:accounts |  SHOW_FIREFOX_ACCOUNTS
uitour:showMenu:appMenu | OPEN_APPLICATIONS_MENU ([bug 1478569](https://bugzilla.mozilla.org/show_bug.cgi?id=1478569))

[2018-08-09 11:15] glogiotatidis opened #652 "Special Link: about:accounts"
AS Router Action:
 - `SHOW_FIREFOX_ACCOUNTS`: opens the firefox accounts signup page (about:accounts?action=signup&entrypoint=snippets)

Currently blocked waiting
 - documentation on AS Router. See also #521
 - code changes in  (bug [1478569](https://bugzilla.mozilla.org/show_bug.cgi?id=1478569))

[2018-08-09 11:17] glogiotatidis opened #653 "Special Link: showAppMenu"
AS Router Action:
 - `OPEN_APPLICATIONS_MENU`

Currently blocked waiting
 - documentation on AS Router. See also #521
 - code changes in  (bug [1478569](https://bugzilla.mozilla.org/show_bug.cgi?id=1478569))

[2018-08-09 11:48] glogiotatidis commented on #323
This will be soon irrelevant as we move to AS Router. Closing.

[2018-08-09 11:48] #323 closed

[2018-08-09 12:01] glogiotatidis commented on #504
Latest update is that Kate will talk about this with the Addon folks

[2018-08-09 13:30] glogiotatidis opened #654 "Create anomaly detection monitor on Datadog for `serve.snippets` metric"
Create an anomaly detection monitor on Datadog for `serve.snippets` metric to monitor the flow of snippets to browsers

[2018-08-09 13:31] glogiotatidis commented on #531
AS team collects all the metrics now so they will deploy monitors appropriately. From our side we can check snippet request and delivery. Filed #654 to make this happen

[2018-08-09 13:41] glogiotatidis commented on #521
AS Router work required to make this happen is tracked in bug [1478569](https://bugzilla.mozilla.org/show_bug.cgi?id=1478569) and we have issues #652 and #653 to track the implementation of the individual actions. Marking this one complete.

[2018-08-09 13:41] #521 closed

[2018-08-09 13:46] glogiotatidis commented on #515
We have confirmation for impressions, clicks and blocks. Will ping again to get confirmation on custom metrics

https://sql.telemetry.mozilla.org/dashboard/activity-stream-experiment-beta-61-activity-stream-router

[2018-08-09 13:48] glogiotatidis commented on #606
Duplicate of #523

[2018-08-09 13:48] #606 closed

[2018-08-09 13:49] glogiotatidis opened #655 "Validate template variables based on field type"
AS Router Template schemas have field type definitions which we can probably use to implement variable validation (e.g. that a url is actually a url)

[2018-08-13 10:49] glogiotatidis commented on #469
Snippets on Android are fetched but not displayed. Filed [bug 1482836](https://bugzilla.mozilla.org/show_bug.cgi?id=1482836) to track the removal of Snippets code.

We 're still investigating
 - when Leanplum was integrated in Fennec
 - if the removal of snippets-service fennec code will cause any issues to older Fennec versions.

[2018-08-13 12:54] #636 closed

[2018-08-14 13:04] glogiotatidis commented on #469
Leanplum was integrated on Fx56 according to [wiki](https://wiki.mozilla.org/QA/Fennec/LeanPlum).

[2018-08-14 16:58] ldwright opened #656 "Re-word Firefox Account targeting parameter"
We recently learned that the pref for "show only to users with an enabled Firefox Account" actually looks at whether or not someone has Sync enabled (which therefore _tells us_ that someone has a Firefox Account) - now that we know this, it'd be nice to rephrase that targeting parameter to be more accurate in the admin tool.

Proposal to change field values to:
"Show only to FxA users with Sync en

[2018-08-16 06:03] glogiotatidis commented on #656
That's correct.

[2018-08-16 06:15] #656 closed

[2018-08-16 12:10] glogiotatidis commented on #639
Verified that `aurora` is included in the URL requesting snippets. Thanks for your help @pmac.

[2018-08-16 12:10] #639 closed

[2018-08-16 12:14] glogiotatidis opened #659 "Rename Aurora to Dev edition in UI"

[2018-08-16 12:14] glogiotatidis commented on #639
See #659

[2018-08-16 18:29] k88hudson commented on #650
Just had a couple of questions here:

- weight: We had previously discussed that weight wouldn’t be needed since we have frequency capping, is that still the case?
- Fx Version: I thought this is a server side filter?Isn’t this just %VERSION%? If not easy to add
- Screen size: I don’t recognize this one, what’s needed/currently implemented here?
- Previous session closed: Also don’t recognize this

[2018-08-17 07:09] glogiotatidis commented on #650
First time I hear this. Maybe @ldwright knows more?

Yes it's in the URL but we typically filter on the client side
https://github.com/mozmeao/snippets-service/blob/master/snippets/base/templates/base/includes/snippet_as.js#L232

We can target based on Screen size.
https://github.com/mozmeao/snippets-service/blob/master/snippets/base/templates/base/includes/snippet_as.js#L265

That's `appData.prev

[2018-08-17 18:22] mediaChick opened #661 "Build New Snippet Template on Legacy Service: Send to Device Card"
**PROJECT BACKGROUND**
The Rocket team (Eddie Lin, Stella Tseng, Cynthia Wang) has a campaign with a partner planned for the snippet channel in Indonesia with a target start date of **September 3** that needs a new snippet template.

The original plan was to have the new Send to Device Card (S2D Card) template live on the new A/S Router snippet service, but since it won’t be deployed until October

[2018-08-20 07:51] glogiotatidis commented on #661
Things that are different in the mock-up, compared to the original Send to Device template:

 - Wider content container
 - Larger Icon
 - Larger Headline
 - After Headline line break before the main text
 - Dismiss icon is always visible
 - DIsmiss icon displays popup that blocks or takes you to preferences
 - Container is floating and not edge-to-edge
 - No copy that links to Google play
 - First

[2018-08-20 10:10] glogiotatidis commented on #650
@k88hudson in https://github.com/mozilla/activity-stream/blob/master/content-src/asrouter/schemas/message-format.md you list `hasFxAccount` in example but you don't list in the table.

Can you please confirm that this is implemented?

Also since this is actually reflecting if user is using Firefox Sync (and not if they have a Fx Account, which they may have but not use to Sync) can we rename it to

[2018-08-20 11:13] glogiotatidis commented on #650
nvm that part, i's looking at the wrong docs. The rename question still stands

[2018-08-20 14:08] k88hudson commented on #650
@glogiotatidis filed https://bugzilla.mozilla.org/show_bug.cgi?id=1484698

[2018-08-20 14:21] glogiotatidis commented on #469
Fennec team suggested that we can proceed with server code removal thus this should not be an issue.

[2018-08-20 16:06] mediaChick commented on #661
@glogiotatidis does "Queued" mean the work will begin in 2 weeks?

[2018-08-21 00:03] ldwright commented on #650
@glogiotatidis @k88hudson - Just chatted with Michele Warther on this... We use prevalence (weight) as a mechanism for setting priorities when multiple snippets are running, so frequency capping wouldn't be a replacement for that in our mind, it would just be a subsequent capability - it would be nice to have both. Is that possible?

[2018-08-21 13:34] k88hudson commented on #650
Thanks @ldwright, filed https://bugzilla.mozilla.org/show_bug.cgi?id=1484996

[2018-08-21 14:35] glogiotatidis commented on #642
https://github.com/mozmeao/snippets-service/pull/658

[2018-08-21 14:35] #642 closed

[2018-08-21 21:29] ldwright commented on #661
Michelle (@mediaChick), after chatting with Ben and team, it sounds like @jpetto will be working on this since @glogiotatidis will be on PTO.

With 9/3 being a U.S. holiday, can we say 8/31 (the Friday prior) for final/approved template completion as our target date, in order for Michelle to program the snippet(s) that day (on 8/31) for a 9/3 launch?

@jpetto - Please confirm if this is doable, an

[2018-08-22 10:27] glogiotatidis commented on #650
In current AS implementation we have `profileCreatedWeeksAgo` which we can use to target users that have a profile in the first week, second week and so on.

In ASR, `profileAgeCreated` is a timestamp of when the profile was created. Is there a JEXL way to do the math to check in which week the user is? Something between the lines of

`(Date.now() - profileAgeCreated) / 604800`

@k88hudson @piatra

[2018-08-22 10:43] piatra commented on #650
That looks correct to me except it should be `(604800 * 1000)`

[2018-08-22 11:07] glogiotatidis commented on #650
thanks for the advise

got a bug for that?

[2018-08-22 11:12] glogiotatidis opened #664 "Remove publish_start and publish_end from AS."
Remove code added in https://github.com/mozmeao/snippets-service/pull/626 as this is not going to be used in ASR this way and will be moved to JEXL

[2018-08-22 11:18] glogiotatidis opened #665 "JEXL Targeting: Firefox Version"
Waiting on ASR implementation  https://bugzilla.mozilla.org/show_bug.cgi?id=1484207

[2018-08-22 11:19] glogiotatidis opened #666 "JEXL Targeting: Snippet Weight"
Waiting on ASR implementation  https://bugzilla.mozilla.org/show_bug.cgi?id=1484996

[2018-08-22 11:21] glogiotatidis opened #667 "JEXL targeting: Local Time Publish Start and Publish End"
Marked stretch goal since this something we don't currently have. We do publish start / end on the server side using UTC timestamps.

[2018-08-22 11:22] glogiotatidis opened #668 "JEXL targeting: usesFirefoxSync (renamed from hasFxAccount)"

[2018-08-22 11:22] glogiotatidis opened #669 "JEXL targeting: Is Developer (devToolsOpenedCount)"
`devToolsOpenedCount` reads from `devtools.selfxss.count` pref which is capped to `5`. So if `devToolsOpenedCount >= 5` we can consider the user a developer. Using `>=` to make this future proof.

Re capping see: https://searchfox.org/mozilla-central/rev/bdc89dfd7869e418d788b28eb60ab8d94e708a15/devtools/client/webconsole/utils.js#232-234

[2018-08-22 11:23] glogiotatidis opened #670 "JEXL Targeting: Is default browser"

[2018-08-22 11:24] glogiotatidis opened #671 "JEXL targeting: Screen size"

[2018-08-22 11:25] glogiotatidis opened #672 "JEXL targeting: Previous Session Closed"
Waiting on ASR implementation https://bugzilla.mozilla.org/show_bug.cgi?id=1484206

[2018-08-22 11:28] glogiotatidis commented on #668
Waiting on ASR rename https://bugzilla.mozilla.org/show_bug.cgi?id=1484698

[2018-08-22 11:30] glogiotatidis opened #673 "JEXL Targeting: Profile Age"
Waiting on ASR to provide local time in JEXL context. See https://github.com/mozmeao/snippets-service/issues/650#issuecomment-414990515 and https://bugzilla.mozilla.org/show_bug.cgi?id=1485345

[2018-08-22 11:31] glogiotatidis opened #674 "JEXL Targeting: Addons Info"
Include options
 - Installed
 - Not Installed

~~Installed and Enabled~~ See #504
~~Installed and Disabled~~ See #504

~~Also ping addons server API to translate addon URL to addon GUID~~ Tracked in issue #707

[2018-08-22 11:31] glogiotatidis opened #675 "JEXL Targeting: Bookmarks Count"
Waiting on ASR implementation  https://bugzilla.mozilla.org/show_bug.cgi?id=1483977

[2018-08-22 11:33] glogiotatidis opened #676 "JEXL Targeting: Country"
Waiting on ASR implementation https://bugzilla.mozilla.org/show_bug.cgi?id=1484207

[2018-08-22 11:33] glogiotatidis opened #677 "JEXL Targeting: Search Engines"

[2018-08-22 12:14] glogiotatidis commented on #653
Update: bug is fixed and we're waiting on docs

[2018-08-22 12:14] glogiotatidis commented on #652
Update: bug is fixed and we're waiting on docs

[2018-08-22 12:44] piatra commented on #650
@glogiotatidis https://bugzilla.mozilla.org/show_bug.cgi?id=1485345

[2018-08-22 13:12] glogiotatidis opened #678 "Migrate F100 Snippets from AS to ASR"
This issue tracks the work need to be done to migrate F100 Snippets from AS to ASR while preserving all targeting options.

See also #688: `Create migration script of current AS Snippets to ASR Snippets seedling ASR`

Snippets that need attention in #860

Channels
 - [x] Nightly
 - [x] Dev
 - [x] Beta
 - [x] Release

Snippets to migrate:
 - Modified in the last 6 months
 - Currently Published
 - A

[2018-08-22 13:14] glogiotatidis commented on #678
@ldwright do we want to migrate only F100 Snippets? Or all `published` snippets at the time of the switch?

[2018-08-22 13:21] glogiotatidis opened #679 "Tracker: ASR Performance"
ASR makes excessive requests to the snippets service. This issue tracks the work related to improving its behavior.

 * [x]  Implement ASR persistent storage + caching for remote endpoints - [bug 1433243](https://bugzilla.mozilla.org/show_bug.cgi?id=1433243)
 * [x]  Only load ASR snippets when experiment is enabled - [bug 1485339](https://bugzilla.mozilla.org/show_bug.cgi?id=1485339)

Also we want

[2018-08-22 13:59] glogiotatidis commented on #523
Per "Roles and Responsibilities for Fx 61" agreement between MozMEAO and AS teams:

and MozMEAO team will integrate with the service above.

Marking this one blocked on waiting on implementation and docs by the AS Team

[2018-08-22 14:05] glogiotatidis opened #680 "Tracker: ASR Templates"
This issue tracks the Templates available for ASR

 - [x] Simple Snippet
 - [x] Send to Device
 - [x] Newsletter Subscribe

 - [x] FxA sign up
 - [x] Fundraising templates
 - ~~Video~~ Video Template is not required for Fx64. Filed #835 to track it's development for future versions.

Also related bugs
 - [Add title to snippets block button in AS Router](https://bugzilla.mozilla.org/show_bug.cgi?id

[2018-08-22 14:30] k88hudson commented on #515
Custom metrics are available for links as well, see the bottom of this page: https://activitystream.gitbook.io/as-router/api-reference/template-fields#richtext-and-richlink

Essentially for any link, a custom metric field can be passed along via the `metric` property.

[2018-08-22 19:52] jpetto commented on #661
Yep, I believe this is doable by 8/31.

As the InVision design doesn't contain specifics (margins, font sizes), who can I reach out to?

[2018-08-22 21:44] mediaChick commented on #661
Hi Jon,

That's great news! Thanks for taking this project on.

For design specs, I've Cc'd Aaron Benson (the designer -- I don't think he
has a GitHub account) to the email thread. Also reach out to the project
lead Eddie Lin (@elin-moco). Eddie worked with Aaron to develop the design.

M2L

On Wed, Aug 22, 2018 at 12:52 PM, Jon Petto <notifications@github.com>
wrote:

--
*Michelle Anderson*
IPC

[2018-08-23 03:59] elin-moco commented on #661
Hi Jon & Michelle,

Thank you!
I just looped Jon in the email thread with Aaron.
Let us know if need anything else.

Much Appreciated!

[2018-08-28 20:18] jpetto commented on #661
@mediaChick If we get this new template into production by EOD 8/29, will you be able to test _before_ EOD Thursday 8/30? I'm on PTO Friday 8/31 and want to make sure we're good by EOD 8/30.

[2018-08-28 20:45] mediaChick commented on #661
@jpetto Yep! Thank you!

[2018-08-29 15:52] jpetto opened #682 "Snippet display issues when using built-in dark theme"
During review of mozmeao/snippets#148, @alexgibson noticed that the snippet content is really difficult to read/see when using the new built-in dark theme.

We should audit existing snippets against this theme to figure out impact and solution(s).

[2018-08-29 21:05] mediaChick commented on #661
The template has been turned on in the snippet service (thanks @jpetto!) and I'm now testing it.

[2018-08-30 14:23] jpetto opened #683 "Add SMS capabilities to new Send to Device Card snippet template"
As an extension to the snippet added/referenced in #661, we need to implement SMS capabilities. This should essentially be a copy/paste from the pre-existing Send to Device snippet template.

[2018-08-31 16:35] mediaChick commented on #661
@bensternthal @pmac The template works great! One wee issue: the default text for google_play_link_text isn't "visit the Play Store" ...

![image](https://user-images.githubusercontent.com/39389621/44924089-1bedb000-acff-11e8-9b53-3bc01c0a126f.png)

it's "**or** visit the Play Store"
![image](https://user-images.githubusercontent.com/39389621/44924156-4d667b80-acff-11e8-9b95-a20cc68e8250.png)

so

[2018-08-31 17:12] bensternthal commented on #661
@pmac I clarified the reqs over slack. Basically the link to visit the play store including the word "or" should be removed.  Can you take a look and let me know if this is reasonable for today or not?

![44924156-4d667b80-acff-11e8-9b95-a20cc68e8250](https://user-images.githubusercontent.com/198507/44926444-48f19100-ad06-11e8-85a1-3fa70a198417.png)
![44924264-97e7f800-acff-11e8-92c2-c9fd8c524bb7]

[2018-08-31 17:29] pmac commented on #661
Just filed [a PR](https://github.com/mozmeao/snippets/pull/151) to remove said link and data fields. Does that look okay?

[2018-08-31 17:33] mediaChick commented on #661
@pmac Make sure the text in the show_form_link_text ends in a period

![image](https://user-images.githubusercontent.com/39389621/44927395-46dd0180-ad09-11e8-88c4-cd64a290c552.png)

"Kirim tautan unduhan ke ponselmu dan bebaskan dirimu dari lacakan."

[2018-08-31 17:36] pmac commented on #661
Good catch! Fixed. PR updated.

[2018-08-31 17:36] pmac commented on #661
LMK when you think it's ready and I can update the template in the admin.

[2018-08-31 17:50] mediaChick commented on #661
@pmac I don't know how to see if it's ready. Can you tell me, or are you asking @bensternthal?

[2018-08-31 18:06] pmac commented on #661
@mediaChick I've updated the template in the snippets service with my changes. Let me know if it looks right now.

[2018-08-31 18:09] mediaChick commented on #661
Holy moley it looks great! Thanks so much for the last minute hustle, @pmac

[2018-08-31 18:16] pmac commented on #661
My pleasure! Just glad it's working right 🎉

[2018-08-31 19:10] #661 closed

[2018-09-05 20:12] cvalaas opened #685 "Please decom snippets-stats new relic monitor"
@bensternthal got an alert re snippets-stats:

snippets-stats was just moved over to haul running on Nubis, so the New Relic monitor in question is no longer useful. Please remove, thanks!

[2018-09-05 20:51] metadave commented on #685
Synthetics monitor has been disabled.

[2018-09-05 20:51] #685 closed

[2018-09-11 10:02] glogiotatidis commented on #685
I changed the url to https://snippets-stats.mozilla.org/foo.html (the real URL used to collect stats) and re-enabled the monitor to keep this under my radar until we complete the migration to Ping Center.

Thanks!

[2018-09-12 08:10] glogiotatidis commented on #671
We discussed with @ldwright and @mediachick and agreed to drop this filter

[2018-09-12 08:10] #671 closed

[2018-09-12 09:13] glogiotatidis commented on #673
We got local time as `currentTime`.

[2018-09-12 09:15] glogiotatidis commented on #672
ASR implementation complete.

[2018-09-12 09:17] glogiotatidis commented on #668
Still waiting on the rename. Evaluating options if we don't get this renamed in Fx63

[2018-09-12 09:19] glogiotatidis commented on #666
This is marked "Third Priority" by the ASR team and may not be implemented for Fx63. Moved to the bottom of the milestone

[2018-09-12 09:40] glogiotatidis commented on #679
Persistent storage moved to Fx64

[2018-09-12 09:49] glogiotatidis opened #688 "Create migration script of current AS Snippets to ASR Snippets"

[2018-09-12 12:16] glogiotatidis commented on #522
Note to self: ASR Preview requires snippets to get saved first.

[2018-09-12 22:32] ldwright commented on #678
Yes, any published snippets at the time should migrate over, including F100.

Questions:

- What happens to snippets that we want to migrate but aren’t published at the time of the switch? (We ask because we often copy and/or re-run snippets - so would we need to recreate those, or could we have access to them as well? and/or identify the ones we would want brought over for you?)

- We're in the m

[2018-09-13 05:29] glogiotatidis commented on #678
We can select for migration all published snippets *and* unpublished snippets modified in the last 60 days from the point of migration. What do you think @ldwright ?

[2018-09-13 05:32] glogiotatidis commented on #678
I plan the migration to happen very close to the date we switch to the new system. The exact datetime is yet to be determined. We will discuss and plan together when we approach that day to limit the duplicate work to a minimum.

[2018-09-13 05:34] glogiotatidis commented on #545
Yes, thank you! :cake:

Per previous comment moving this to 2019Q1

[2018-09-13 05:52] glogiotatidis commented on #469
With the LCM team we agreed to run a few messages in 2018 targeting users on versions <= 55. We will discuss decom in 2019-Q1.

[2018-09-13 17:41] ldwright commented on #648
@glogiotatidis - This looks good! Just a couple of minor tweaks:

1. Let's change the "Ready to Publish" option to "Approved" please
2. Is it possible to add the snippet creator's name into the email message by chance? >> i.e. "Snippet [snippet name] is ready for review **from [content creator]**. You can review the Snippet by clicking the link below. [link to snippet]"

[2018-09-14 06:44] glogiotatidis commented on #648
OK

Yes

[2018-09-14 08:31] glogiotatidis commented on #638
See [bug 1482859](https://bugzilla.mozilla.org/show_bug.cgi?id=1482859) for ASR Templates

[2018-09-17 13:04] glogiotatidis commented on #668
Bug got fixed and most likely this will get uplifted to Fx63. Removing `blocked` label

[2018-09-18 20:29] ldwright opened #693 "[new filter] Filter based on lead source of user install"
Associated with [Bug 1483037](https://bugzilla.mozilla.org/show_bug.cgi?id=1483037).

Background on request: We would like to be able to target people who have install source/campaign information available, and use the various 'lead sources' as a targeting parameter to tailor snippet experiences and develop relevant content based on specific acquisition channels (aka where people come from when th

[2018-09-18 20:32] ldwright opened #694 "[new filter] Filter based on number of devices synced"
Associated with [Bug 1483046](https://bugzilla.mozilla.org/show_bug.cgi?id=1483046).

Background on request: We would like to be able to target snippet users based on the number of devices they have synced, since a significant number of people have Sync enabled, but only one device connected - which does not provide any value. This is important so we can encourage people with only one device to do

[2018-09-18 20:34] ldwright opened #695 "[new filter] Filter based on type of devices synced"
Associated with [Bug 1483050](https://bugzilla.mozilla.org/show_bug.cgi?id=1483050).

Background on request: Once we're able to target users based on their number of devices synced, we'd also like to be able to target snippet users based on the type of devices they have synced - i.e. two desktop devices, but no mobile devices - so we can cross-sell mobile, for instance.

[2018-09-18 20:36] ldwright opened #696 "[new filter] Filter based on y/n updates enabled"
Associated with [Bug 1483056](https://bugzilla.mozilla.org/show_bug.cgi?id=1483056).

Background on this request: We'd like to be able to target snippet users based on whether or not they have updates enabled. This may help us begin to ascertain a user's level of tech savviness and usage habits. Could possibly be measured against retention and/or (if value = no) be used for upgrade campaigns.

[2018-09-18 20:38] ldwright opened #697 "[new filter] Filter based on y/n auto-download updates enabled"
Associated with [Bug 1483057](https://bugzilla.mozilla.org/show_bug.cgi?id=1483057).

Background on request: We'd like to be able to target snippet users based on whether or not they have updates enabled to auto-download or not. Similar to #696 this may be able to help us ascertain a user's level of tech savviness and usage habits, and could possibly be measured against retention.

[2018-09-19 07:42] glogiotatidis commented on #665
Note: We need to figure out `current_version` implementation

[2018-09-19 07:52] glogiotatidis commented on #665
Another note: We may need to add `util.current_firefox_major_version()` to `ASRBundle.key()` calculation

[2018-09-19 07:55] glogiotatidis opened #698 "Update ASRBundle to use STATUS_CHOICES"
And in other places. Search for `400`

[2018-09-19 10:42] glogiotatidis opened #700 "Add locale filtering in ASRBundle"

[2018-09-19 10:44] glogiotatidis commented on #679
Latest update is that code has landed in AS and the team will try to uplift to 63.

[2018-09-19 10:52] glogiotatidis opened #701 "Display only ASR Templates in List filter dropdown"
This dropdown
![image](https://user-images.githubusercontent.com/584352/46667383-37878880-cbd2-11e8-93bd-ddd1e2bdf029.png)

[2018-09-20 07:33] #670 closed

[2018-09-20 08:49] glogiotatidis commented on #515
We have confirmation and ASR collects and sends the said pings to Ping Center.

[2018-09-20 08:49] #515 closed

[2018-09-20 08:49] glogiotatidis commented on #664
This is being fixed as part of #699

[2018-09-20 08:49] #664 closed

[2018-09-20 08:55] glogiotatidis commented on #638
@ldwright is it OK to skip implementing this for the current system and only target fixing it for ASR templates what we will use in Fx63?

[2018-09-21 08:45] glogiotatidis opened #705 "Remove Template Widget Preview button for ASR Snippets"

[2018-09-21 12:56] glogiotatidis opened #707 "Create automation to convert add-on URLs to add-on GUIDs"
We can use the add-ons server's API to do so

 - https://addons-server.readthedocs.io/en/2018.05.17/topics/api/addons.html#detail

[2018-09-21 14:58] #522 closed

[2018-09-24 08:39] #673 closed

[2018-09-24 09:19] glogiotatidis opened #709 "Validate ASRSnippet.data with validate_as_router_fluent_variables()"

[2018-09-24 09:21] glogiotatidis opened #710 "Add permissions to ASRSnippets"
- [x] Check on model save
- [x] Check on list save
- [ ] Add Permissions on Stage
- [ ] Add Permissions on Prod

[2018-09-24 09:48] #698 closed

[2018-09-24 10:23] glogiotatidis opened #712 "Make snippets-admin instances to always redirect to https://snippets-admin.mozilla.org/"
- [x] Deploy code
- [x] Add snippets-admin in allowed OIDC callbacks
- [x] Configure snippets-admin to always redirect to snippets-admin.mozilla.org

[2018-09-24 11:09] glogiotatidis opened #714 "Return `targeting` JEXL expression from ASRSnippet.render()"

[2018-09-24 12:13] glogiotatidis commented on #680
Newsletter template https://github.com/mozilla/activity-stream/pull/4438

[2018-09-24 12:15] glogiotatidis commented on #666
Update from the AS team: Bug got fixed, will try to get this uplifted.

[2018-09-24 12:17] glogiotatidis commented on #649
friendly ping @ldwright

[2018-09-24 12:20] glogiotatidis commented on #617
I created separate issues for each target. Closing this one out.

[2018-09-24 12:20] #617 closed

[2018-09-24 12:27] glogiotatidis commented on #707
Related issue #674

[2018-09-24 12:29] glogiotatidis commented on #696
This lives under `browserSettings.update.autoDownload`

[2018-09-24 12:30] glogiotatidis commented on #693
This lives under `browserSettings.update.attribution`

https://hg.mozilla.org/mozilla-central/rev/b841b6fa93f1#l4.30

[2018-09-24 12:32] glogiotatidis commented on #695
This lives under `ASRouterTargeting.Environment.sync`

​```javascript
{
desktopDevices: 1
mobileDevices: 0
totalDevices: 2
}```

[2018-09-24 12:35] glogiotatidis commented on #697
This lives under `browserSettings.update.autoDownload`

[2018-09-24 14:02] #668 closed

[2018-09-24 14:02] #669 closed

[2018-09-25 00:01] mediaChick commented on #683
You're right, @glogiotatidis. This template is experimental and will be de-commissioned as of the Activity Stream Router platform launch.

@jpetto, let's close this issue.

[2018-09-25 01:56] #683 closed

[2018-09-25 10:49] #705 closed

[2018-09-26 07:46] #666 closed

[2018-09-26 08:11] glogiotatidis commented on #675
Waiting for totalBookmarksCount to land on Beta to test.

[2018-09-26 08:30] glogiotatidis commented on #672
Re-adding blocked since this has not been uplifted yet

[2018-09-26 08:32] glogiotatidis commented on #672
Waiting on `previousSessionEnd` to land so we can test.

[2018-09-26 08:52] glogiotatidis commented on #504
Re-opening b/c this information does not exist in ASR targeting :|

I commented in the bug to try and get this fixed.

Meanwhile we'll implement only "installed" and "not installed" functionality for ASR to be in par with what we have in current system

[2018-09-26 09:02] glogiotatidis commented on #504
Re-opening b/c this information does not exist in ASR targeting :|

Created new bug [149432](https://bugzilla.mozilla.org/show_bug.cgi?id=1494232)

Meanwhile we'll implement only "installed" and "not installed" functionality for ASR to be in par with what we have in current system

[2018-09-26 10:08] glogiotatidis opened #724 "Replace `mock` with `unittest.mock`"

[2018-09-27 11:06] glogiotatidis opened #727 "JEXL Targeting: Add current_version in Firefox Version Targeting"
https://bugzilla.mozilla.org/show_bug.cgi?id=1492853

[2018-09-27 11:07] glogiotatidis commented on #665
There's no snippet that uses `current_version` yet and ASR doesn't have `current_version` yet.. Filed #727 to add `current_version` when it becomes available.

[2018-09-27 11:10] glogiotatidis commented on #665
Waiting for `firefoxVersion` to land on Beta to test.

[2018-09-27 13:29] glogiotatidis commented on #694
`ASRouterTargeting.Environment.sync`

[2018-09-27 13:30] glogiotatidis commented on #694
`desktopDevices: 1
​
mobileDevices: 0
​
totalDevices: 2`

[2018-10-02 14:40] ldwright opened #730 "[admin] Create option for bulk publishing of snippets"
Add “Publish selected snippets” option in the Action drop-down menu on the Snippets List View page; we would like to be able to publish multiple snippets at once after QA is completed.

[2018-10-02 20:54] #565 closed

[2018-10-02 20:54] #709 closed

[2018-10-02 20:59] #714 closed

[2018-10-02 21:11] #696 closed

[2018-10-02 21:11] #697 closed

[2018-10-04 08:38] #674 closed

[2018-10-04 08:59] glogiotatidis opened #731 "Select priority countries in admin"

[2018-10-04 10:30] #679 closed

[2018-10-04 12:54] glogiotatidis commented on #648
Added a checkbox in `Snippets` for the Snippet programmers to check when they are ready for review.

![image](https://user-images.githubusercontent.com/584352/46475240-a6896980-c7ed-11e8-95a4-110016f953ac.png)

One can list the Ready for Review snippets in the list view

![image](https://user-images.githubusercontent.com/584352/46475266-b99c3980-c7ed-11e8-8dcc-fd6c8c0ae61c.png)

This is not a drop

[2018-10-04 13:16] glogiotatidis commented on #731
Set the following countries as priority, i.e. they are listed first in the country dropdown.

 'AT', 'BR', 'CA', 'CH', 'DE', 'ES', 'FR', 'GB', 'ID', 'IE', 'IN', 'MX', 'NL', 'PH', 'PL', 'TH', 'US'

Made this change in production.

![image](https://user-images.githubusercontent.com/584352/46476410-c2dad580-c7f0-11e8-97e1-d8a42be76c78.png)

@mediaChick @ldwright sounds good?

[2018-10-04 16:12] #675 closed

[2018-10-04 16:49] mediaChick commented on #731
@ldwright @glogiotatidis I don't know the context for the countries chosen as "priority" but I do know that snippet locale priorities are:

EN, DE, ES, pt-BR, RU, zh-TW, PL and ID. Of the countries listed first in the dropdown, RU and China aren't there. Should they be?

[2018-10-04 17:21] mediaChick commented on #648
Found just one issue @glogiotatidis :

When the "Ready for review" box is checked in a snippet, and a new snippet created with "Save as new" button, the "Ready for review" box still checked in the new snippet. It should reset to unchecked like Published button does.

[2018-10-05 07:46] glogiotatidis commented on #731
Nothing to do with priority markets. This is for your convenience, so you get frequently used countries listed first. I created the list based on the countries we have targeted in the past.

[2018-10-05 07:48] glogiotatidis commented on #731
So the question is:

 - We have the said countries listed first in the dropdown down. Does this make your life easier @mediaChick? Do you want countries added to priority list or removed from it?

[2018-10-05 07:50] #665 closed

[2018-10-05 08:11] glogiotatidis opened #734 "Set snippet to `Draft` when `Save as New`"

[2018-10-05 08:27] glogiotatidis commented on #504
Moving this to Fx64 based on discussion with the ASR team.

[2018-10-05 09:11] glogiotatidis commented on #648
@mediaChick made the checkbox to reset to unchecked when `Save as New` is used. Please confirm that this works for you.

[2018-10-05 09:49] glogiotatidis commented on #652
Bug https://bugzilla.mozilla.org/show_bug.cgi?id=1496352

[2018-10-05 23:53] mediaChick commented on #648
@glogiotatidis Works perfectly. Thanks!

[2018-10-06 00:03] mediaChick commented on #731
@glogiotatidis Priority countries are the countries I target the most, so yes, it would make life easier if EN, DE, FR, ES, pt-BR, RU, zh-TW, PL and ID were at the top, and beneath that CA, CH, AT, UK. Thank you!

[2018-10-08 08:43] #672 closed

[2018-10-08 09:30] glogiotatidis commented on #731
@mediaChick you're listing locales, while this is about countries. I fixed locales for you and also selected corresponding countries.

I'm going to close this one now. We can always update the list of priority countries & locales as the targeting patterns change, just file an issue with the request.

Thanks!

Thanks!

[2018-10-08 09:30] #731 closed

[2018-10-08 09:46] glogiotatidis commented on #319
The new Activity Stream Router payload is JSON and does not contain any HTML elements. All this functionality has move to activity stream addon.

Thanks for filing Dave

[2018-10-08 09:46] #319 closed

[2018-10-08 14:42] glogiotatidis opened #740 "ASR Template buttons are broken due to Schema change."

[2018-10-08 15:01] glogiotatidis commented on #651
Both implemented on ASR, see #652 #653. Closing

[2018-10-08 15:01] #651 closed

[2018-10-08 15:33] #700 closed

[2018-10-09 11:48] glogiotatidis opened #742 "Cleanup SnippetNG code"

[2018-10-09 12:50] #742 closed

[2018-10-09 22:33] ldwright commented on #649
@mediaChick may be able to describe the issue with the Google integration better than I can - I was not around when it was being used, so I'm unsure what changed/went wrong. I just know that we're currently managing editorial planning via Google Sheets in a very manual fashion now.

However, as discussed earlier today, I feel like that workaround can be taken off the table and we should try to foc

[2018-10-10 07:36] glogiotatidis opened #745 "Add help text with deep links and `[[snippet_id]]` in ASRSnippet"
![image](https://user-images.githubusercontent.com/584352/46720224-9c95b980-cc78-11e8-9abf-14352a1657e2.png)

[2018-10-10 07:46] glogiotatidis commented on #745
@mediaChick @ldwright added more help text in `ASRSnippets` explaining deep links and the `[[snippet_id]]` trick. The `[[snippet_id]]` trick works also for current `Snippets`

[2018-10-10 07:50] #745 closed

[2018-10-10 08:22] glogiotatidis opened #748 "Create a button to copy to clipboard the preview link on click"
Preview link for ASR Snippets cannot be directly clicked and instead must be copied and pasted to the URL bar. Create a `Copy` button next to the link to make the procedure easier.

[2018-10-10 08:29] glogiotatidis opened #749 "Make locale selection easier"
- The locale dropdown lists all supported locales but most of the time only a few locales are used.
- From the locales used, most of the time all the variations of a locale are selected. E.g. when building English Snippets usually all en-US, en-CA, en-UK, etc are selected

We want to make locale selection easier while maintaining the current options.

## Deployment plan
 - [x] Push code
 - [x] Run

[2018-10-10 08:30] glogiotatidis opened #750 "Allow Snippet tagging to improve organization and filtering."
# Deploy Process
 - [x] Push to prod
 - [x] Run migration script via django shell

[2018-10-10 08:32] glogiotatidis opened #751 "Integrate Slack to post updates when Snippet changes"
Post updates when Snippet changes
 - Becomes ready for review. See #648
 - Gets published

![image](https://user-images.githubusercontent.com/584352/47205804-a366af80-d38f-11e8-921f-536bf1b96b7c.png)

[2018-10-10 08:33] glogiotatidis opened #752 "Automatically add utm params to Snippet links"

[2018-10-10 08:49] glogiotatidis commented on #649
The link won't list new Snippet because the code supporting this required a full revamp. I decided not to do this and drop the functionality because I had provided you with the iCal / Google calendar integration.

I understand that this is not used anymore (You say "when it was being used") but this is the first time I hear this.

Please do explain why the integration doesn't work so we can work t

[2018-10-10 08:56] glogiotatidis commented on #649
Since this issue is becoming more about the gCal integration and not the calendar view I'll rename this and track the Calendar creation in another issue

[2018-10-10 08:56] glogiotatidis opened #753 "Implement Calendar view for Snippets"
Related issue #649

[2018-10-10 08:57] glogiotatidis commented on #753
This library looks promising https://fullcalendar.io/

[2018-10-10 09:37] glogiotatidis opened #754 "Confirm that `snippet_name` and `snippet_name` automatically added by `modifyLinks` are not used"

[2018-10-10 09:38] glogiotatidis commented on #754
Related issue #752

[2018-10-10 17:46] mediaChick commented on #649
@glogiotatidis The gCal is called "Firefox in-product messaging calendar" and I don't know what is causing the calendar to not display all the published snippets.

I do know that Jean created the cal, and when I saw that it wasn't working (after Jean left for mat leave) I asked @bensternthal to take a look. From what I recall, he couldn't identify what the issue was.

That's all I know.

[2018-10-10 18:06] mediaChick commented on #748
Is it possible for that copy button to open that copied url in new:tab?

[2018-10-10 18:11] mediaChick commented on #745
@glogiotatidis The [[snippet_id]] trick is used here?
![image](https://user-images.githubusercontent.com/39389621/46756822-35c6cf00-cc7d-11e8-8e06-3b4ec80390e6.png)

[2018-10-11 00:00] ldwright commented on #638
Hi @glogiotatidis - chatted with Michele W. about this and if we can at least implement it for our current Fundraising/EOY template that would be ideal. We'll be starting a more frequent push of donation campaigns in November and want to make sure we're being conscious of our users' experience with those snippets specifically. (i.e. If they donate, we don't want to keep asking them.) - The other t

[2018-10-11 06:38] #652 closed

[2018-10-11 06:38] #653 closed

[2018-10-11 07:17] glogiotatidis commented on #649
OK. The last email on this was from a year ago (20 Oct '17) were Jean verified it working and asked questions about having a separate calendar by targeting parameter. I replied that "I suggest that we file bugs even with more generic asks and have the discussions there (so context and decisions don't get lost in email threads)."

Anyhow, point is that today the calendar *is* working and lists all

[2018-10-11 07:17] #649 closed

[2018-10-11 07:26] glogiotatidis opened #755 "[Fundraising Template] Block Snippet after user clicks donate button"
The snippet or any snippet in the campaign must not re-appear after user clicks `Donate`

- [x] Update production

[2018-10-11 07:30] glogiotatidis commented on #638
OK filed issue #755. Please confirm that this is what you need

[2018-10-11 07:33] glogiotatidis commented on #748
Unfortunately you'll have to copy and paste as I mentioned in the meeting. This issue is so that copying is easier.

[2018-10-11 08:14] #712 closed

[2018-10-11 08:28] glogiotatidis commented on #638
Moving to Fx64 Milestone since we didn't get the templates in for Fx63

[2018-10-11 08:28] glogiotatidis commented on #680
Moving to Fx64 milestone since we didn't get templates in for 63

[2018-10-11 08:34] glogiotatidis opened #756 "Add `duplicate` action to ASRSnippets"

[2018-10-11 08:45] glogiotatidis commented on #745
I don't understand how that could be used there?

This is for text you input in Template Fields and you can see the result in preview.

[2018-10-11 09:01] glogiotatidis commented on #754
Sent out an email to figure out what's up with this

[2018-10-11 09:22] glogiotatidis opened #757 "Automatically localize block button text for ASR Templates"
The ASR Templates still rely on snippets-service to provide a localized version of the `Remove this` block button text.

We can however hard-code the values into code and automatically select one because on the Snippet locale to reduce the burden of having to repeatedly input the same value when creating a Snippet.

[2018-10-11 14:24] ldwright opened #758 "[new filter] Targeting for specific Top URLs"
Associated with [Bug 1483059](https://bugzilla.mozilla.org/show_bug.cgi?id=1483059).

Background on request: We'd like to be able to target snippet users based on whether or not they've visited a "Top URL" (facebook, amazon, etc.) so we can prompt targeted CTAs for useful add-ons and such. Matching on TLD is sufficient, no need to target more specific URL paths.

[2018-10-11 14:26] ldwright opened #759 "[new filter] Targeting for total URIs count"
Associated with [Bug 1483040](https://bugzilla.mozilla.org/show_bug.cgi?id=1483040).

Background on request: We want to be able to target snippets to users based on their total count of non-unique http(s) URIs visited in a subsession. This will help us define aDAU or non-aDAU basic segments, for instance, that we may want to target with different content.

[2018-10-11 14:29] ldwright opened #760 "[new filter] Targeting if a user has saved content to Pocket via Awesome Bar"
Associated with [Bug 1483971](https://bugzilla.mozilla.org/show_bug.cgi?id=1483971).

Background on request: In addition to [Bug 1483968](https://bugzilla.mozilla.org/show_bug.cgi?id=1483968), we want to be able to target snippet users based on whether or not they have saved content via the awesome bar OR via AS content (new option).

[2018-10-11 14:33] ldwright opened #761 "[new filter] Targeting if user has clicked any Pocket-related links on AS page"
Associated with [Bug 1483968](https://bugzilla.mozilla.org/show_bug.cgi?id=1483968).

Background on request: We are focusing on better cross-promotion of Pocket to our Firefox users and one particular ask was to understand if a Firefox user has a Pocket account and whether they are using it. We understand there is no current way to know if a Firefox user is also a Pocket user, so instead we were h

[2018-10-11 14:36] ldwright opened #762 "[new filter] Targeting for unique domains count"
Associated with [Bug 1483041](https://bugzilla.mozilla.org/show_bug.cgi?id=1483041).

Background on request: We want to be able to target snippets to users based on their count of unique domains visited in a subsession, after the session has been restored.

[2018-10-11 14:37] ldwright opened #763 "[new filter] Targeting for pinned sites on newtab"
Associated with [Bug 1483055](https://bugzilla.mozilla.org/show_bug.cgi?id=1483055).

Background on request: We'd like to be able to target snippet users based on their pinned sits on newtab. We could use this to target snippets to people who have certain content types in their pinned sites, e.g. if they pinned Facebook we could talk about Facebook Container, if they pinned Amazon we could talk ab

[2018-10-11 14:39] ldwright opened #764 "[new filter] Targeting if a user has clicked Pocket's 'View List' via the awesome bar button"
Associated with [Bug 1483973](https://bugzilla.mozilla.org/show_bug.cgi?id=1483973).

Background on request: In addition to [Bug 1483971](https://bugzilla.mozilla.org/show_bug.cgi?id=1483971) and [Bug 1483968](https://bugzilla.mozilla.org/show_bug.cgi?id=1483968) we would like to be able to target snippet users based on their Chrome/non-AS behaviors, i.e. clicking 'View List' via the awesome bar '

[2018-10-11 14:45] glogiotatidis commented on #523
Not happening in Fx64

[2018-10-11 14:46] glogiotatidis commented on #516
Not happening in Fx64

[2018-10-11 14:46] ldwright commented on #755
@glogiotatidis Correct - once a users clicks "Donate Now" on the Fundraising template, we will assume they have actually followed through with donating on the donate.mozilla.org page that it drives them to, and therefore we shouldn't bug them again with the same message or any other message with the same campaign name.

CC: @mediaChick for FYI.

[2018-10-11 16:18] mediaChick commented on #745
Sorry, I thought [[snippet_id] was for searching for a snippet using their ID and I replied before your screenshot was added.

How are deep links and using [[snippet_id]] related? It's not clear to me what [[snippet_id]] is a "trick" for?

[2018-10-11 16:55] mediaChick commented on #745
I saw that, but we already put the snippet ID in the utm parameters. Is there a reason why I'd want to use [[snippet_id]] versus using the actual ID in the tracking link?

[2018-10-11 16:57] glogiotatidis commented on #745
It's just a convenience, so you don't have to scroll up and down and copy paste the ID. Also in case you're using the same link in multiple snippets you don't have to update the link with the ID of each snippet.

You don't have to use it, I just brought it up (it has been there forever) b/c you mentioned that's difficult to get the Snippet ID into the links.

[2018-10-11 17:03] mediaChick commented on #745
Got it! Thanks.

I mentioned the snippet ID and links because in the edit field the only place you see the ID is in the address bar link (no need to scroll to see it). To have the ID also displayed on the edit page is on my Wish List -- I'll be filing issues next sprint.

[2018-10-11 17:05] mediaChick commented on #757
"Remove this"

DE - Entfernen
FR - Supprimer
RU - Удалить
ES - Quitar esto
pt-BR - Remover este item
PL - Usuń to
zh-TW - 移除這個
ID - Hilangkan ini
IT- Nascondi questo messaggio
CS - Odstranit
NL - Verwijder dit
zh-CH - 删除它

[2018-10-11 17:10] mediaChick commented on #649
Thanks for the link! It works really well, but now that we have hundreds of F100 snippet running without start/end dates the calendar is gigantic.

Since the calendar is for people outside of the snippet admin to see what's running in P100, can you modify the calendar feed so that it's only snippets that have a start/end date?

[2018-10-11 17:14] glogiotatidis commented on #649
File issues with what you need. We can have only the snippets with start and end or different links with different locales or other filtering. Decide on what's useful and describe it in an issue.  Thanks

[2018-10-16 10:15] glogiotatidis commented on #678
Moving this to Fx64 Milestone since ASR will hit release channel with 64

[2018-10-16 10:16] glogiotatidis commented on #688
Moving this to Fx64 Milestone since ASR will hit release channel with 64

[2018-10-16 10:28] glogiotatidis commented on #756
Moving to 2018Q4 milestone since that's not blocking Fx63

[2018-10-16 10:30] glogiotatidis commented on #734
Attaching 2018Q4 label and removing from milestone since that's not blocking Fx63

[2018-10-16 10:30] glogiotatidis commented on #710
Attaching 2018Q4 label and removing from milestone since that's not blocking Fx63

[2018-10-16 10:53] glogiotatidis commented on #754
Received no replies. My take is that this from very old (pre-Google Analytics) data collection methods and maybe used for initial import of data in Tableau (but not used now). Since we're moving away from Tableau and we're using GA now I assume it's safe to let this die along with the pre-ASR implementations.

[2018-10-16 10:53] #754 closed

[2018-10-16 10:54] #676 closed

[2018-10-16 11:35] glogiotatidis commented on #650
ASR now has targeting parity with current snippets system.

[2018-10-16 11:35] #650 closed

[2018-10-16 12:50] glogiotatidis commented on #740
Turns out that Fx63 supports `button_url` and it's been a mess with that's supported where. I'll keep what we have now and that's what work in beta 63.

[2018-10-16 13:04] glogiotatidis commented on #740
Filed [bug 1499358]( https://bugzilla.mozilla.org/show_bug.cgi?id=1499358) to track this

[2018-10-16 13:04] #740 closed

[2018-10-17 09:37] glogiotatidis opened #767 "Fix CSRF timeout"
When clicking to save a Snippet sometimes a CSRF exception is returned. This happens in production.

We have session CSRF ([code](https://github.com/mozmeao/snippets-service/blob/master/snippets/settings.py#L208))

and we use Redis to store our sessions

[2018-10-17 09:42] glogiotatidis opened #768 "Set Cachalot to use shared cache in production"
Currently Cachalot caching framework is set to use locmem. Set it to use redis in prod

[2018-10-17 09:43] glogiotatidis commented on #767
@mozmeao/backend any ideas why this might be happening. I haven't found a way to reproduce this consistently.

[2018-10-18 06:15] glogiotatidis commented on #767
This is not raising a Sentry error, i"ve seen it when trying to save in admin

[2018-10-18 06:31] glogiotatidis commented on #727
Bug fixed

[2018-10-18 10:49] glogiotatidis opened #771 "Integrate Slack to post updates when ASRSnippet changes"
See also #751

[2018-10-18 11:14] #646 closed

[2018-10-18 11:14] #647 closed

[2018-10-18 15:37] #748 closed

[2018-10-18 23:41] jgmize commented on #768
As I recall, we switched the snippets cache from redis to locmem due to repeated issues with the redis instance failing under load. This also impacted basket, which was sharing the redis instance, and we decided to try locmem before spending the extra money on a dedicated cache for snippets.

Also, while using locmem for cache does have a negative impact on the cache hit ratio, by eliminating netw

[2018-10-19 09:06] glogiotatidis commented on #768
Valuable info @jgmize, definitely something to keep in mind. Lots of architectural / performance changes since then, so maybe it's worth taking another look eventually but not a top priority.

[2018-10-23 11:14] glogiotatidis opened #777 "Upgrade to new Sentry SDK"
Sentry has released a unified SDK and deprecated `raven` package.

[2018-10-23 13:06] glogiotatidis commented on #638
According to [bug 1482859#c10](https://bugzilla.mozilla.org/show_bug.cgi?id=1482859#c10) this has been fixed for all ASR templates for Fx64

[2018-10-23 19:39] metadave opened #779 "Dev docs / docker env issue"
I'm trying the docs for [Docker for development](https://github.com/mozmeao/snippets-service#docker-for-development) and am running into an issue:

[code]

[2018-10-24 13:17] glogiotatidis commented on #767
@metadave @jgmize do you have any ideas?

[2018-10-24 13:30] glogiotatidis opened #782 "Add `Snippet.get_admin_url` and ASRSnippet.get_admin_url tests"

[2018-10-24 13:33] glogiotatidis opened #783 "Add `ASRSnippetAdmin.save_model` tests"

[2018-10-24 13:34] glogiotatidis commented on #779
Thanks for the bug report Dave. I'm not using docker for developer so obviously that's broken. I'll update the docs / dev procedure.

Is there something blocking you atm?

[2018-10-24 13:43] metadave commented on #779
thanks @glogiotatidis! I'm not blocked, but am looking to make it easier for other devs to onboard.

[2018-10-24 14:12] pmac commented on #767
sessions timing out? for how long is the session valid?

[2018-10-24 15:36] jgmize commented on #767
I think we should consider switching `CSRF_USE_SESSIONS` to the default of `False` and explicitly set `CSRF_COOKIE_SECURE` to `True`.

[2018-10-24 16:19] jgmize commented on #767
We can also leverage the support for same-site cookies that landed in [Django 2.1.2](https://code.djangoproject.com/ticket/27863) and [Firefox 60](https://blog.mozilla.org/security/2018/04/24/same-site-cookies-in-firefox-60/)

[2018-10-24 18:42] jkt230 commented on #751
Thank you! Please send these pings to #snippetsadmin on Slack.

[2018-10-24 19:33] jgmize commented on #767
Filed https://github.com/mozmeao/snippets-service/pull/784 with the changes I described above.

[2018-10-24 20:19] jpetto commented on #779
FWIW, it would make for higher quality code review if I could run this locally. Currently, code review lacks functional/contextual/manual testing.

[2018-10-24 20:48] #734 closed

[2018-10-25 09:09] glogiotatidis opened #787 "TypeError: Key 'filtr_profile_age_created' should be of type int"
https://sentry.prod.mozaws.net/operations/snippets/issues/4875932/

[2018-10-25 12:08] #787 closed

[2018-10-25 17:14] jkt230 opened #790 "Targeting: Firefox Accounter User Synced on Desktop or Mobile"
Background on request: We'd like to be able to target snippet users based on whether a Firefox Account user synced on desktop or mobile.

[2018-10-25 17:16] jkt230 commented on #790
This is a duplicate. Closing this issue.

[2018-10-25 17:16] #790 closed

[2018-10-25 17:20] jkt230 opened #791 "ASR Snippet Admin: Server Error (500) on the Change ASR Snippet page when using the tools (add, edit) in the pop-up window"

[2018-10-25 17:21] jkt230 opened #792 "ASR Snippet Admin: Server Error (500) on the Change target page when saving with targeting set for Firefox Profile Age"

[2018-10-25 17:22] jkt230 opened #793 "Set `target="_blank"` for time.is link in admin"
The link "See the current time in UTC" on the Change ASR Snippet page should be target="_blank" (because otherwise, when you click the link, unsaved work is lost when the url loads)

[2018-10-25 17:23] jkt230 opened #794 "ASR Snippet Admin: "Save as new" on the Change ASR Snippet page should save the new snippets in the "Draft" status"
This should occur regardless the status of the original snippet (right now it doesn't)

[2018-10-25 17:25] jkt230 opened #795 "ASR Snippet Admin: Be able to search for a snippet by Snippet ID in top search bar on list view page"
Currently the search bar only allows for searching keywords.

[2018-10-25 17:27] jkt230 opened #796 "ASR Snippet Admin: Bring back advance filtering"
﻿Also be able to create/search that ran during a certain date range (add run dates as field) in addition to what's in the current advanced filtering.

[2018-10-25 17:28] jkt230 commented on #796
![screen shot 2018-10-25 at 10 28 22 am](https://user-images.githubusercontent.com/6807556/47518779-bae6e200-d840-11e8-91bc-80114fb3c80f.png)

[2018-10-25 17:30] jkt230 opened #797 "ASR Snippet Admin: Bring back "quick edit" and "quick preview" functionality on individual snippets in list view"

[2018-10-25 17:31] jkt230 commented on #797
![screen shot 2018-10-25 at 10 30 53 am](https://user-images.githubusercontent.com/6807556/47518919-1a44f200-d841-11e8-9a92-c80893753d56.png)

[2018-10-25 17:34] jkt230 opened #798 "ASR Snippet Admin: Calculate PT and ET zones automatically alongside UTC publishing times"
Publishing time is difficult to calculate with UTC/server time; we would like to be able to ensure that users (wherever they are in the world) see our snippets based on the timeframe we set for that day. (i.e. 12:00am to 11:59pm for PT, ET, etc.) rather than us setting it for ET and the PT folks getting it 3 hours late and running 3 hours too long for instance.

[2018-10-25 17:35] jkt230 commented on #793
![screen shot 2018-10-25 at 10 34 58 am](https://user-images.githubusercontent.com/6807556/47519122-abb46400-d841-11e8-9668-16fea753a89c.png)

[2018-10-25 17:37] jkt230 opened #799 "ASR: List of running snippets for public audience"
We used to use snippets.mozilla.com to guide people to live snippets so they could see what was running and what specific snippets looked like. Can we have something like this with ASR?

[2018-10-25 17:38] jkt230 opened #800 "ASR Snippet Admin: Have "Save" Button always in view when scrolling through edit pane (same for "Target" and "Campaigns" editing pages)"
Would also like to have a “Save” button always in view when scrolling through edit pane (aka sticky button); rather than just at the top and bottom of the page.

[2018-10-25 17:39] jkt230 commented on #800
![screen shot 2018-10-25 at 10 39 01 am](https://user-images.githubusercontent.com/6807556/47519324-3301d780-d842-11e8-8b1d-94ba939b3983.png)

[2018-10-25 17:40] jkt230 opened #801 "ASR Snippet Admin: Investigate why randomly we get error messages when using the "save and continue editing" button"
Continuing to get error messages when using the “Save and continue editing” button - haven’t been able to pinpoint scenarios that trigger this.  One theory is if we spend more than a few minutes on the editing pane without saving this occurs.

[2018-10-25 17:41] jkt230 commented on #801
![screen shot 2018-10-25 at 10 39 39 am](https://user-images.githubusercontent.com/6807556/47519427-765c4600-d842-11e8-8e29-2c29ccc9380f.png)

[2018-10-25 17:42] jkt230 opened #802 "ASR Snippet Admin: Place Snippet ID on editing page"
Currently we only see what the snippet id is in the URL, would like to see the Snippet ID on top of the editing page. (One thought is to replace or move the red Delete button and put Snippet ID there instead).

[2018-10-25 17:43] jkt230 commented on #802
![screen shot 2018-10-25 at 10 43 00 am](https://user-images.githubusercontent.com/6807556/47519616-c1765900-d842-11e8-8fa2-38716861cdd3.png)

[2018-10-25 17:43] jkt230 opened #803 "ASR Snippet Admin: Pop up reminder to save edits on editing page"
Need a pop-up message that appears whenever there have been edits but the snippet has not been saved, so when the user clicks off the page it will prompt “Save edits made?” or something similar.

[2018-10-25 17:49] jkt230 opened #804 "Update iCal / Google Calendar feed to show only certain snippets"
Per #649, the iCal / Google calendar integration is working. However, this shows all snippets running which includes some snippets that we will always have on [does not have start/end date] and we want to be able to filter those out.

So question:
1) Can we just get the feed that shows snippets that have a start and end date?
2) OR use what we currently have but be able to filter ourselves that we

[2018-10-25 18:02] jkt230 opened #805 "ASR Snippets: Hyperlinks are not displayed as underlined"

[2018-10-25 18:03] jkt230 opened #806 "ASR Snippets: Admin will not save snippets with short/tracking links"
It wouldn't save snippets with the short/tracking link we've been using for IRL (in this case: http://smarturl.it/irl_s03e07?IQid=snippet/)

[2018-10-25 18:05] jkt230 opened #807 "ASR Snippets: Button CTA is not showing up in snippets"
Previewed the ASR snippets (snippets ids: 4 and 5) and the button doesn't show.

[2018-10-25 18:36] #756 closed

[2018-10-26 07:29] glogiotatidis opened #808 "Improve the `Insecure link` messaging for ASR Snippets"
The current message does not communicate the error clear enough, see #806

![image](https://user-images.githubusercontent.com/584352/47550820-0d8bd100-d909-11e8-9c52-94b631813306.png)

[2018-10-26 07:30] glogiotatidis opened #809 "Validate all ASRSnippet.data content for insecure links."
Current we check for insecure links in Rich Text fields (link `text`) but not in `button_url`. We need to check all content for insecure links

[2018-10-26 07:31] glogiotatidis commented on #806
The problem is not the short link but the insecure `http` link. This is a design / security decision, that all links must be secure. You can use the same link with `https`.

The error from the admin site:

![image](https://user-images.githubusercontent.com/584352/47550820-0d8bd100-d909-11e8-9c52-94b631813306.png)

I filed issue #808 to improve the error message.

[2018-10-26 07:31] #806 closed

[2018-10-26 07:34] glogiotatidis commented on #805
Not sure what you mean here Jean.

I opened about:newtab?endpoint=https://snippets-admin.mozilla.org/preview-asr/edf1e818-10dd-40d9-9ae2-a82feb003bc7/ and I see the link underlined

![image](https://user-images.githubusercontent.com/584352/47551357-a5d68580-d90a-11e8-8163-c8ebc1f9a395.png)

[2018-10-26 07:35] glogiotatidis opened #810 "Add list filter to show snippets only with start and end date"

[2018-10-26 07:35] glogiotatidis commented on #803
Great idea! will do!

[2018-10-26 07:37] glogiotatidis commented on #802
Placing things next to those buttons is a pain.

I can put it above the snippet name and even apply styles to make more prominent (color, background) if you want.

What do you think @jkt230 ?

[2018-10-26 07:40] glogiotatidis commented on #801
We're aware of this and trying to understand the root cause. We try to fix this in #767.

I will update here when we have this in production.

[2018-10-26 07:42] glogiotatidis commented on #800
From previous discussions I understand that this is wanted so you can save more often to avoid #801.

Is this true? If so, when we fix #801 would this still be a need?

[2018-10-26 07:47] glogiotatidis commented on #794
This was fixed in #734. Can you please verify that this works for you now @jkt230 ?

[2018-10-26 07:50] glogiotatidis commented on #792
This was fixed in #789. Can you please verify that this works for you @jkt230 ?

[2018-10-26 07:54] glogiotatidis commented on #791
I cannot replicate this error. Can you please provide more details, screenshots or videos?

[2018-10-26 09:15] weekly-digest[bot] opened #811 "Weekly Digest (19 October, 2018 - 26 October, 2018)"
Here's the **Weekly Digest** for [*mozmeao/snippets-service*](https://github.com/mozmeao/snippets-service):

 - - -
# ISSUES
Last week 34 issues were created.
Of these, 11 issues have been closed and 23 issues are still open.
## OPEN ISSUES
:green_heart: #807 [ASR Snippets: Button CTA is not showing up in snippets](https://github.com/mozmeao/snippets-service/issues/807), by [jkt230](https://github

[2018-10-26 16:14] mediaChick commented on #805
![asr snippet preview with no hyperlink underline](https://user-images.githubusercontent.com/39389621/47578914-753d1e80-d8ff-11e8-9fd7-678f5279ff83.png)

Doesn't work for me.

[2018-10-26 16:32] mediaChick commented on #794
Works for me!

[2018-10-26 16:35] mediaChick commented on #792
No error @jkt230, thanks @glogiotatidis!

[2018-10-26 16:42] mediaChick commented on #791
This error isn't happening anymore, perhaps it was fixed in #792?

[2018-10-29 09:25] #794 closed, assigned to nobody

[2018-10-29 09:34] glogiotatidis commented on #771
/remind me to re-eval in 2 weeks

[2018-10-29 09:37] glogiotatidis commented on #805
It seems we have different stylesheets for different platforms. I'm on Linux and @mediaChick is on Windows afaik.

@k88hudson @piatra could this be the case? Can we apply the same stylesheet across different platforms or it's inherited by the platform guidelines?

[2018-10-29 10:10] glogiotatidis opened #812 "UnicodeEncodeError when Slack request.post"
UnicodeEncodeError: 'latin-1' codec can't encode characters in position 258-264: Body ('γιώργος') is not valid Latin-1. Use body.encode('utf-8') if you want to send it encoded in UTF-8.

Sentry Issue: https://sentry.prod.mozaws.net/operations/snippets/issues/4891896/

[2018-10-29 10:16] piatra commented on #805
We use the same stylesheet for all platforms, which includes the underline style. This property was added in 64.

[2018-10-29 10:40] glogiotatidis commented on #767
Pushed change to production and pinged LCM team to keep an eye for new errors. Will close in two weeks time if no new errors.

Thanks for your help @mozmeao/theconn :metal:

/remind me to re-eval the situation in two weeks

[2018-10-29 14:17] glogiotatidis commented on #751
* Created `#snippets-admin`
* Invited LCM team
* Setup bot to send notifications there.

:dancing_men:

[2018-10-29 14:17] #751 closed

[2018-10-29 14:46] glogiotatidis opened #814 "Make Preview Link link-able"
We want to have the preview link link-able to improve the UX and the life Snippet Editors.

Since this is a special link (starts with `about:newtab`) we cannot directly link to it. I already discussed that with AS team (Kate and Andrei) and filed bug [1502897](https://bugzilla.mozilla.org/show_bug.cgi?id=1502897) to explore possibilities and implement.

[2018-10-29 14:47] glogiotatidis commented on #814
/remind me to re-eval in 2 weeks

[2018-10-29 15:22] glogiotatidis commented on #638
Assigning this to self to review ASR templates

[2018-10-29 15:38] glogiotatidis commented on #779
Thanks for bringing this into my attention folks. Will take care this week. I'll ping you both to review / test my changes if you have the time.

:eagle:

[2018-10-29 16:58] jpetto commented on #779
Thank you!

[2018-10-29 17:06] jkt230 opened #815 "Snippets not showing in Firefox 63"
Both Michelle and I upgraded to Firefox 63 and we are not seeing snippets. We double checked the admin to make sure that there are published snippets that should be running.

Not sure if it's related to this issue:
https://bugzilla.mozilla.org/show_bug.cgi?id=1493262

But this is a priority! Thank you!

[2018-10-29 17:08] jkt230 commented on #815
@k88hudson in case you may know.

[2018-10-29 22:37] k88hudson commented on #815
This does indeed appear to be a bug on the Firefox side, I've filed and escalated to release management here: https://bugzilla.mozilla.org/show_bug.cgi?id=1503047

[2018-10-30 13:26] glogiotatidis opened #816 "Create threshold based monitor for Snippet Metrics"
Snippet metrics collection is monitored by a Datadog Anomaly detection monitor.

Since the release of Firefox 63 we don't serve snippets to users due to [bug 1503047](https://bugzilla.mozilla.org/show_bug.cgi?id=1503047) (see also #815) but the monitor didn't go off.

Is seems the gradual rollout of Firefox 63, resulted in a steady drop of collected metrics with the rate of drop being within the l

[2018-10-30 13:30] glogiotatidis commented on #815
Thanks for reporting @jkt230. As Kate mentions this is a platform bug.

I filed #816 to improve the monitoring situation to catch errors like this in the future.

Will leave this open to track the fix of the bug.

[2018-10-31 11:04] #795 closed

[2018-10-31 11:20] #793 closed

[2018-10-31 11:40] #724 closed

[2018-10-31 15:48] glogiotatidis opened #821 "Add timezone information to publish start and publish end"
Currently `publish_start` and `publish_end` are displayed on UTC (server time). What if we could add dropdown that defaults to UTC but allows Snippet editors to select the timezone for the Snippet?

See also #798

Interesting project https://pypi.org/project/django-timezone-utils/

[2018-10-31 22:05] jkt230 opened #822 "Documentation on Legacy Snippet Admin - Version 1, 2, 3, 4"
Hi Giorgos,

Please delete this issue if you think it's more appropriate via email since this is more about questions on the old legacy snippets (and part of the upgrade campaigns we will run to get people on the newest versions of Firefox so we don't have to run old legacy template snippets anymore!).

1) Can you verify what Firefox versions map out to Version 1, 2, 3, 4 (those checkboxes we see

[2018-11-01 09:36] #802 closed

[2018-11-01 11:18] glogiotatidis commented on #795
This has been fixed in production.

You can search using:
 - ID
 - Campaign Name
 - Target Name

@mozmeao/lcm-team @jkt230 @mediaChick can you please confirm that this works for you?

[2018-11-01 11:20] glogiotatidis commented on #793
This has been fixed in production.

@mozmeao/lcm-team @jkt230 @mediaChick can you please confirm that this works for you?

[2018-11-01 11:20] glogiotatidis commented on #802
This has been fixed in production for Snippet, ASRSnippet and JSONSnippet.

@mozmeao/lcm-team @jkt230 @mediaChick can you please confirm that this works for you?

[2018-11-01 13:38] glogiotatidis commented on #755
This has been fix in production

/cc @mozmeao/lcm-team @jkt230 @mediaChick

[2018-11-01 13:39] #755 closed

[2018-11-01 15:29] mediaChick commented on #802
Confirmed! Nice to see those snippet IDs on the edit page in Snippet, ASRSnippet and JSONSnippet.

[2018-11-01 22:20] mediaChick opened #824 "ASR Snippets: Preview snippet loads and then a "real" snippet loads"
Snippets previewed in a new tab using the copy/pasted link provided on the edit page of ASR snippets first loads the snippet to be previewed, then loads a "real" snippet.

Here's an ASR preview link that behaves as described above for me: about:newtab?endpoint=https://snippets-admin.mozilla.org/preview-asr/cacded45-c3f4-4446-a88f-f98305c8c382/

I'm unable to capture the preview snippet, before it

[2018-11-02 09:00] #816 closed, assigned to glogiotatidis

[2018-11-02 09:04] glogiotatidis opened #825 "Update snippet stats datadog monitor thresholds"
Monitors to check metrics collection created in #816 #654 will have to be updated to match the new lower thresholds  when we switch to ASR and Telemetry for data collection.

The same monitors will be eventually deleted when we decide to drop pre-ASR support.

/remind me to update monitors on 12/10/2018

[2018-11-02 12:54] piatra commented on #824
I can confirm the bug. This issue has been resolved in Firefox 64.

[2018-11-02 13:28] #824 closed, assigned to nobody

[2018-11-05 08:57] glogiotatidis commented on #815
This has been fixed in Firefox 63.0.1. Will re-check to confirm that we get expected number of impressions.

/remind me to check number of impressions on Wed

[2018-11-05 12:30] glogiotatidis commented on #807
This is another version 63 bug. Since we won't be enabling ASR in 63 anyway, we can ignore.

Please use version 64 for building and previewing ASR snippets.

/cc @mediaChick

[2018-11-05 12:30] #807 closed

[2018-11-05 15:16] metadave commented on #779
@jpetto can you try out https://github.com/mozmeao/snippets-service/pull/827

I'm still getting the errors listed above.

![about_docker_and_the_bouncing_souls_-_letter_from_iraq](https://user-images.githubusercontent.com/58244/48006649-e345ca80-e0e3-11e8-81a6-fb7d1413aaa4.png)

[2018-11-06 15:07] glogiotatidis commented on #767
While using Production Admin, configured to use CSRF cookies, I got the error again.

Any ideas @mozmeao/theconn ?

[2018-11-06 15:19] glogiotatidis opened #828 "Expire cache of template fields when template updates"

[2018-11-06 19:46] jgmize commented on #767
@glogiotatidis can you share any more details about the CSRF error you got? I double checked the settings and they looked correct, and sentry and didn't show any recent CSRF errors, and without a traceback or even an error message building a model of what could be going wrong is challenging.

[2018-11-07 09:13] glogiotatidis opened #830 "QA ASR Simple Snippet Template"
Simple Snippet Variables

[code]
Verified that:
 - `block_button_text` defaults to `Remove this`
 - `block_button_text` can be overridden
 - `icon` works
 - `title` works
 - `title_icon` works
 - `button_label` if present, button appears
 - `button_url` works
 - `tall` works
 - `do_not_autoblock` works

Differences
 - `button_color` to `inherit` - This is a good change so snippets show nicely with

[2018-11-07 09:14] glogiotatidis opened #831 "QA ASR Send to Device Template"

[2018-11-07 09:14] glogiotatidis opened #832 "QA ASR Newsletter Template"
Newsletter Variables
[code]

Verified working:
- `scene1_icon` works
- `scene1_title_icon` works
- `scene1_button_label` works
- `scene1_text` works
- `scene1_title` works
- `scene2_text` works
- `scene2_button_label` works
- `scene2_privacy_html` works
- `error_text` works
- `success_text` works

Differences
- `scene1_button_background_color` works,  defaults to var(--newtab-button-secondary-colo

[2018-11-07 09:15] glogiotatidis opened #833 "QA FxA Sign Up Template"
Variables

[code]

Verified working:
 - Can set `utm_campaign`
 - Can set `utm_term`
 - Can set `scene2_text`
 - Can set `scene1_icon`
 - Can set `scene1_title`
 - `scene1_title` is optional
 - Can set `scene1_icon`
 - `scene1_icon` is optional
 - Can set `scene1_button_label`
 - Can set `scene2_text`
 - Can set `scene2_placeholder_text`
 - Can set `scene2_dismiss_button`
 - Can set `scene2_button

[2018-11-07 09:15] glogiotatidis opened #834 "QA ASR Fundraising Template"
Variables

[code]

Things that work
- `text` - works and it's rich text
- `donation_amount_first` works
- `donation_amount_second` works
- `donation_amount_third` works
- `donation_amount_fourth` works
- `test` works, both `bold` and `takeover`
- `icon` works
- `monthly_checkbox_label_text` works and selects montly contributions correctly
- `highlight` text works (and em works)
- `block_button_tex

[2018-11-07 09:15] glogiotatidis commented on #680
Filed QA Issues:
 - https://github.com/mozmeao/snippets-service/issues/830
 - https://github.com/mozmeao/snippets-service/issues/831
 - https://github.com/mozmeao/snippets-service/issues/832
 - https://github.com/mozmeao/snippets-service/issues/833
 - https://github.com/mozmeao/snippets-service/issues/834

[2018-11-07 09:17] glogiotatidis opened #835 "ASR Template: Video Template"
This issue tracks the development for ASR Video Template

[2018-11-07 09:20] glogiotatidis commented on #757
This is not blocking Fx64 release, removing from milestone

[2018-11-07 09:38] glogiotatidis commented on #777
See also https://github.com/mozilla/bedrock/issues/6378#issuecomment-434839324

[2018-11-07 10:07] glogiotatidis opened #836 "Verify that ASR Snippets with custom button colors appear correctly"
- Find Simple template snippets with `button_color` or `button_background_color` set and confirm that they appear correctly on different themes.
- Find Newsletter template snippets with `scene1_button_background_color` and `scene1_button_color` set and confirm that they appear correctly on different themes.
- Find Send to Device template snippets scene1_button_background_color` and `scene1_button_

[2018-11-07 10:11] glogiotatidis commented on #830
Added an item in tomorrow's mtg agenda to discuss clicking on links / buttons and new tabs

[2018-11-07 10:14] glogiotatidis commented on #830
@mozmeao/lcm-team FIY this is the QA for Simple Snippet Template. Please add any additional information / issues / missing elements in this PR asap.

[2018-11-07 21:28] jkt230 opened #838 "Slack notifications for changes in the list view + include creators name"
Related to #751  (let me know if you rather I reopen that issue):

1) We noticed that when we're in the list view page and checkmark the "published" box and then save, it does not send notifications to our Slack channel #snippets-admin . We would like this method to also send notifications. It only sends notifications when we're in the editing mode page and selecting "published" or "ready for revi

[2018-11-07 21:37] jkt230 opened #839 "Ability to set recurring publishing for snippets"
Sort of similar to the Google calendar recurring meeting times, it'll be nice if we can mark a snippet to rerun on a weekly, monthly and/or quarterly basis.

Example of a use case:
After we integrate with ASR and sunset the legacy snippet admin, we'll want to keep running "upgrade your browser version" snippets on a monthly basis. But instead of manually going back to change the dates or republish

[2018-11-07 21:37] jkt230 commented on #839
This is not a priority this year.

[2018-11-08 01:46] ldwright commented on #830
@glogiotatidis - Per snippet help text for "title" field in the admin tool (i.e. _Optional. Snippet title displayed above snippet text._) When used and being previewed, the copy actually shows up right before/side-by-side to the actual snippet text rather than above as intended.

[2018-11-08 08:22] glogiotatidis commented on #830
@ldwright This is the proper design afaik. This brings up a good point though: Do we have an updated and complete list of all the template designs?

[2018-11-08 08:42] glogiotatidis commented on #838
Not at the moment. Please handle the Slack group manually.

[2018-11-08 13:29] glogiotatidis commented on #763
Bug has been fixed. Documentation https://github.com/mozilla/activity-stream/commit/0d498e373f8b5248720dd1640f0c6c30200c3be6#diff-0f6a59dd7bf57c1e0654422bdd107cd8

[2018-11-10 04:35] jgmize commented on #767
from https://sentry.prod.mozaws.net/operations/snippets/issues/4921873/?query=is:unresolved

Forbidden (CSRF cookie not set.): /admin/base/asrsnippet/6/change/

{"status_code":403,"request":"<WSGIRequest: POST '/admin/base/asrsnippet/6/change/'>"}

[2018-11-10 04:41] jgmize commented on #767
Note that in the error above, we can see that the sessionid cookie was set, but the CSRF cookie was not.

[2018-11-12 10:14] glogiotatidis opened #840 "Update dev docs with `create_countries` and `create_locales` info"

[2018-11-12 11:35] glogiotatidis commented on #767
This was me from my local dev environment verifying that the log handler to Sentry was working. I did manually remove the CSRF cookie to trigger the error.

This was just pushed to production.

Errors in production admin instance should appear in the custom [Prod Admin](https://sentry.prod.mozaws.net/operations/snippets/searches/1754/) sentry search

[2018-11-12 11:39] glogiotatidis commented on #815
Numbers have returned back to normal :sweat_smile:

[2018-11-12 11:39] #815 closed

[2018-11-12 13:10] glogiotatidis commented on #832
Related bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1505406

[2018-11-12 14:01] glogiotatidis opened #841 "Add image gallery for icons"
Investigate this possibility.

It can make the editor's life easier by not uploading the same image over and over and our db smaller.

As a by-product we can improve the image file size by optimizing on save.

Checks:
 -  image size
 -  Image format
   -  PNG
   - [x] SVG - Django does not support this using `ImageField`. see #925
 - Transparency
 - image dimensions

Open Questions
 -  What to do

[2018-11-12 14:35] glogiotatidis opened #842 "QA Templates: Blocking by campaign doesn't work"
Verified that doesn't work on Beta 64.0b8. This is an AS bug.

There's a bug https://bugzilla.mozilla.org/show_bug.cgi?id=1506225 that got recently fixed.

This issue is so we can track and verify the fix. Part of #680

[2018-11-12 14:56] glogiotatidis commented on #830
Filed [bug 1506600](https://bugzilla.mozilla.org/show_bug.cgi?id=1506600) to discuss and fix this.

/cc @ldwright

[2018-11-13 09:04] glogiotatidis opened #843 "Import ASR Templates in Staging and Production"
Staging
- [ ] Simple Snippet
- [ ] Send to Device
- [ ] Newsletter Subscribe
- [ ] FxA sign up
- [ ] Fundraising templates

Production
- [ ] Simple Snippet
- [ ] Send to Device
- [ ] Newsletter Subscribe
- [ ] FxA sign up
- [ ] Fundraising templates

[2018-11-13 13:39] glogiotatidis commented on #831
Filed bug https://bugzilla.mozilla.org/show_bug.cgi?id=1506838 to fix issues.

[2018-11-13 13:48] glogiotatidis commented on #822
Yes we can target as far back as Fx 26:
 - Select Version 4
 - Select `Simple + Logo Swap Snippet w/ Block & Click` Template
 - Preview with Firefox 26

[2018-11-13 13:50] glogiotatidis commented on #822
`1,2,3` are very old. Fx 26 is Version 4. If you need more details on a specific version I can find out.

[2018-11-13 14:35] glogiotatidis commented on #822
I'd ask George K, who call pull this info from telemetry

[2018-11-13 20:35] jkt230 commented on #822
Wanted to recap our conversation here:
Version 1, 2, 3 are old and we do not need to worry about these versions.
Version 4 aligns with Fx 26 to Fx 56
Activity Stream aligns with Fx 57 to Fx 63
ASR (if on time) aligns with Fx 64 and above

I forgot to ask about ESR. Can you remind me how ESR works and we should just focus on ESR versions that align with Version 4?

[2018-11-13 22:38] jkt230 commented on #822
If I'm reading this right: we are currently on ESR 60 and will be until July 2019:

https://www.mozilla.org/en-US/firefox/organizations/

In July 2019 we will have ESR 68.

This doesn't show the old ESR versions - do you have a map or document of that? And can our service target old ESR versions?

[2018-11-14 08:18] glogiotatidis commented on #814
Bug has been marked P3 and I see no further activity so it won't make it to Fx64.

Adding this in the Fx65 milestone

[2018-11-14 08:19] glogiotatidis commented on #771
The Slack integration proved useful, let's implement this

[2018-11-14 08:30] glogiotatidis commented on #764
[Update in the bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1483973#c2) clarifies that this won't be in Fx64 or Fx65. Removing from milestones.

[2018-11-14 08:31] glogiotatidis commented on #762
[Update in the bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1483041#c2) clarifies that this won't be in Fx64 or Fx65. Removing from milestones.

[2018-11-14 08:32] glogiotatidis commented on #761
[Update in the bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1483968#c5) clarifies that this won't be in Fx64 or Fx65. Removing from milestones.

[2018-11-14 08:32] glogiotatidis commented on #760
[Update in the bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1483971#c2) clarifies that this won't be in Fx64 or Fx65. Removing from milestones.

[2018-11-14 08:33] glogiotatidis commented on #759
[Update in the bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1483040#c3) clarifies that this won't be in Fx64 or Fx65. Removing from milestones.

[2018-11-14 08:35] glogiotatidis commented on #504
[Update in the bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1494232#c3) clarifies that this won't be in Fx64 unless uplifted. Will be in Fx65.

[2018-11-14 08:37] glogiotatidis commented on #667
We need to decide whether we want to continue doing the time filtering on the server, or switch to the client or somehow combine both.

/remind me to discuss with the LCM team in 2 weeks

[2018-11-14 14:03] mediaChick commented on #771
To clarify: Everytime a snippet is changed, a status update pushes to slack?

If so, that seems unnecessary.

The slack channel is so we can keep an eye on snippets that need reviewing,
and so content creators can get notified when their snippets have been
reviewed and published -- not as a catch-all for snippet activity.

On Wed, Nov 14, 2018, 12:19 AM Giorgos Logiotatidis <
notifications@github.

[2018-11-15 11:00] glogiotatidis commented on #832
@mozmeao/lcm-team FIY this is the QA for Newsletter Template. Please add any additional information / issues / missing elements in this PR. Remember to test with Beta

[2018-11-15 11:40] glogiotatidis commented on #763
Doesn't block Fx64 release, removing from milestone

[2018-11-15 11:46] glogiotatidis commented on #754
Update we verified my take in previous comment with Jean. All good!

[2018-11-15 13:28] glogiotatidis opened #844 "Add filter to distinguish between AS and non AS snippets."

[2018-11-15 20:53] hoosteeno commented on #752
This document has logic to autogenerate links using inputs for 5 utm fields (utm_source, utm_medium, utm_campaign, utm_content, utm_term): https://docs.google.com/spreadsheets/d/1VzSbNN7nt4tKuTAW0EwP1YMOJsItjuyATeECnwNP76Q/edit#gid=0.

For snippets, most of those fields are always the same -- this document explains what should go in them: https://docs.google.com/presentation/d/1yP-nT70DCTv4VtEOrd5

[2018-11-15 21:10] hoosteeno commented on #342
This data will power reports that the team wants to have. For example, the team would like to be able to see how snippets perform across dimensions such as channel, template type, locale, campaign, category. Some of these are only present in the name, a string that is not uniform in quality or contents, which makes querying on these data challenging.

Right now the snippet name is an overloaded fi

[2018-11-15 21:40] mediaChick commented on #342
Justin,

A snippet's category is already 1 of the 10 components of the unique
snippet naming convention.

I don't think that having 10 components is "overloaded" - the way they are
now I can tell from the naming convention what a snippet contains, at a
glance. This isnsuper helpful with the volume of snippets we're generating.

Additionally, the naming convention as it is now was put into place in

[2018-11-15 22:01] hoosteeno commented on #342
Regarding "overloaded", any field in a database containing more than one data type is an [overloaded field](http://robertlambert.net/2014/09/a-field-guide-to-overloaded-data/). Overloaded fields are hard to use in queries because you have to unpack them before you can use them.

Regarding category, it is a component of the snippet name, but it isn't a field on a snippet. That means we can't easily

[2018-11-15 22:07] jkt230 commented on #831
Tried to open this template up on ASR snippets with a Beta version and the input fields didn't populate. The ASR Newsletter one opened up just fine.

[2018-11-15 22:39] jkt230 commented on #832
Hi Giorgos, we've tried to ASR QA Newsletter template (snippet id 14) but when I preview, it quickly jumps to the current snippets live so it doesn't give me a chance to test it out. Is there a way to work around this?

[2018-11-16 07:34] glogiotatidis commented on #832
This sounds like #824. Can you confirm that you're testing with Beta or Nightly?

[2018-11-16 07:35] glogiotatidis commented on #831
This sounds like #824. Can you confirm that you're testing with Beta or Nightly?

[2018-11-16 15:35] glogiotatidis opened #845 "Create testing endpoint with real data"
Implement a testing endpoint with real snippets and data

 - Cover as many as possible template variations
 - Cover all templates
 - Implement on both prod and staging

Will add more info as this takes form

/cc @piatra @k88hudson. If you have specifics requests please add a comment!

Templates covered:
 - [x] Simple Snippet
   - [x] Staging
   - [x] Prod
 - [x] Send to Device
   - [x] Staging

[2018-11-16 17:19] jkt230 commented on #832
It does sound like 824. And I was testing with Beta 64.0b9. Do you think it's because I also have the release version on my computer as well so it gets confused?

[2018-11-16 17:20] jkt230 commented on #831
I wasn't able to build a snippet using this template because the input fields didn't populate. so couldn't even get to preview to see if 824 was happening again.

I think you need to turn this specific template on or?  Screenshot below shows what I see.

[2018-11-16 17:20] jkt230 commented on #831
![screen shot 2018-11-16 at 9 20 07 am](https://user-images.githubusercontent.com/6807556/48636849-e4e37e00-e980-11e8-954e-c5f9ee75fd73.png)

[2018-11-19 13:47] glogiotatidis opened #847 "Allow ASRSnippets to get marked `for_qa`"
For #845 we want to have a set of snippets on both Production and Staging that will be used for QA.

To avoid accidental changes to those snippets and also to avoid confusing Snippet Editos, those ASRSnippets will be only visible to superadmins.

A new ASRSnippet field `for_qa`, editable only by superadmins, will identify snippets for QA.

[2018-11-19 16:08] glogiotatidis commented on #779
Dave reports that this is working for him.

[2018-11-19 16:08] #779 closed

[2018-11-20 11:15] #847 closed

[2018-11-20 15:16] glogiotatidis commented on #845
Created demo snippets for Simple template on both staging (snippets.allizom.org) and prod. Just replace `%LOCALE%` with `x-testing` in the default snippets URL and you should get 12 snippets.

Each snippet includes text to identify the test case like `i have a link`.

Let me know if that works for you @piatra @k88hudson and I will proceed with the rest of templates.

[2018-11-21 07:26] #844 closed, assigned to jpetto, glogiotatidis

[2018-11-21 07:47] glogiotatidis commented on #844
@mozmeao/lcm-team added a filter in [snippets list view](https://snippets-admin.mozilla.org/admin/base/snippet/?is_activity_stream=yes) to separate AS snippets from older non-AS snippets. This should help with the migration too.

![image](https://user-images.githubusercontent.com/584352/48826184-543ae280-ed72-11e8-8a43-a0371d5a0738.png)

[2018-11-21 12:00] glogiotatidis commented on #845
@k88hudson @piatra added send to device and newletter signup test snippets

[2018-11-21 18:59] ldwright commented on #831
@glogiotatidis Snippets Admin Production is not allowing me to use an HTML link (our standard text) in the scene2_disclaimer_html field. (See screenshots below.)

<img width="1004" alt="screen shot 2018-11-21 at 10 31 38 am" src="https://user-images.githubusercontent.com/32490072/48862819-4be7a500-ed7c-11e8-848f-d3919ca45e45.png">
<img width="791" alt="screen shot 2018-11-21 at 10 31 48 am" src="h

[2018-11-21 19:42] ldwright commented on #831
Additionally, the Error Message scene appears to be populating a button and using the scene1_button_label information - rather than defaulting to "Try again" or something of the like. The button click functionality does take you back to Scene 2 to re-enter your info though, so that part is working.

<img width="566" alt="screen shot 2018-11-21 at 11 38 19 am" src="https://user-images.githubusercon

[2018-11-21 20:13] jkt230 commented on #832
Other issues:

- Default “YOUR EMAIL HERE” but don’t see it (I think you've mentioned it)
- Default “Sign Up” but don’t see it
- Missing but maybe the new colors were chosen purposely to work with dark themes?:
scene1_button_background_color “Button background color. Default #D7D7DB.”
scene1_button_color “Button text color. Default #0C0C0D.”
- Sent myself an email, have yet to receive it (using de

[2018-11-21 20:16] ldwright commented on #832
False alarm on the html link not working in scene2_privacy_html, I noticed a space between a href= and " and appears to be working now. Should be good.

[2018-11-21 20:17] jkt230 commented on #831
Other issues:
- Missing (again maybe the colors were changed due to dark themes?):
scene1_button_background_color “Button background color. Default #D7D7DB.”
scene1_button_color “Button text color. Default #0C0C0D.”
- Success message does not appear
- Sent myself an SMS and email, have not received - need to make sure basket slugs are being passed (note, I didn't input anything in locale or countr

[2018-11-21 20:17] ldwright commented on #831
False alarm on the html link not working in scene2_disclaimer_html, I removed the embedded class tag and appears to be working now.

[2018-11-22 09:16] glogiotatidis commented on #832
Already mentioned.

Default is `Sign me Up`, should be fixed in nightly

Yes I talk about buttons in `differences` section. We should talk about using non-default colors at some point. See also #682

I'd check this complete behavior on nightly. The bugs we have already filed issues for are only in nightly atm.

[2018-11-22 09:17] glogiotatidis commented on #832
Thanks for your reviews @jkt230 @ldwright

It doesn't seem that we found any missing items. Please check with an up-to-date nightly that everything reporting here has been fixed.

[2018-11-22 09:20] glogiotatidis commented on #831
@ldwright Why do you need to provide `class="more"` for the link? That should be there.

[2018-11-22 09:23] glogiotatidis commented on #831
That's interesting. This is something that AS team implemented in addition to what we have now (now we only display the error message) and afaik Andrei talked about this with MW. So this is according to spec, which is to display the first button again. If we want this to be another Button we need to file a bug. Can you find out what we need here @ldwright ?

[2018-11-22 14:44] glogiotatidis opened #855 "Dynamically set max firefox version in JEXLFirefoxRangeField"

[2018-11-22 15:42] glogiotatidis opened #856 "Don't include empty data fields on ASRSnippets render"

[2018-11-22 15:42] glogiotatidis commented on #856
/cc @piatra @k

[2018-11-23 08:58] #856 closed

[2018-11-24 17:53] mediaChick opened #858 "[Activity Stream] Snippets that have finished their publishing dates are still running"
I use two computers: both are PCs, both use Windows 10, both run Fx 63.0.3 GA release.

This morning I turned on one computer (it was totally off) and snippets that are set to not be running anymore on November 22 are still running on November 24 on new:tab. I've confirmed the publishing settings in the snippet admin.

![untitled-1](https://user-images.githubusercontent.com/39389621/48971263-294bc

[2018-11-26 07:54] glogiotatidis commented on #842
Fixed and verified in Beta https://bugzilla.mozilla.org/show_bug.cgi?id=1506225#c12

[2018-11-26 07:54] #842 closed

[2018-11-26 10:11] glogiotatidis opened #859 "[FxA Sign Up Template] Investigate if accounts.f.c has locales support and make the template redirect to the correct locale"
It seems that the FxA signup/signin template always points users to a en-US version of accounts.firefox.com.

Not sure if accounts.f.c supports other locales. Go ahead and
 - investigate if other locales are supported
 - if so extend template to support redirecting to the correct locale.

[2018-11-26 10:53] glogiotatidis commented on #833
Issues filed in bug https://bugzilla.mozilla.org/show_bug.cgi?id=1509810

[2018-11-26 11:49] glogiotatidis commented on #833
@mozmeao/lcm-team FIY this is the QA for FxA Signup Template. Please add any additional information / issues / missing elements in this PR. Remember to test with Beta

[2018-11-26 13:32] glogiotatidis commented on #834
Filed bug https://bugzilla.mozilla.org/show_bug.cgi?id=1509851 with the found issues

[2018-11-26 13:33] glogiotatidis commented on #834
@mozmeao/lcm-team FIY this is the QA for Fundraising Template. Please add any additional information / issues / missing elements in this PR. Remember to test with Beta

[2018-11-26 17:59] jkt230 commented on #858
I think it may have to do with our "four hour" cache but will let Giorgos confirm!

[2018-11-26 19:40] jkt230 commented on #801
I have not received this error in the last two weeks while testing the ASR snippets. I defer to @mediaChick in regards to Activity Stream snippets.

[2018-11-26 19:44] jkt230 commented on #834
Looks all good outside the design issue:

Same as FxA template, the ASR snippet looks a lot smaller (condensed) when compared side by side with the Activity Stream one
![screen shot 2018-11-26 at 11 43 43 am](https://user-images.githubusercontent.com/6807556/49038023-99935180-f170-11e8-8e65-8e06734c6a6a.png)

[2018-11-26 19:44] jkt230 commented on #833
Looks all good outside the design issue:

The ASR FxA snippet in terms of font size and button size are a lot smaller than the Activity Stream version when compared side by side

![screen shot 2018-11-26 at 11 43 32 am](https://user-images.githubusercontent.com/6807556/49038048-a9129a80-f170-11e8-869a-f334fd8f7623.png)

[2018-11-26 19:55] mediaChick commented on #801
I got the error last Saturday (Nov 24) in Activity Stream.

[2018-11-26 20:51] jkt230 commented on #831
Tested on nightly and received the success message, email and SMS text. Looks all good on my end.

[2018-11-26 20:51] jkt230 commented on #832
Tested on nightly and received the email, thanks!

[2018-11-27 14:26] glogiotatidis opened #860 "Correct migrated ASRSnippets to comply with new rules"
A portion of ASRSnippets migrated from Snippets will need to be further edited to comply to the new Snippet rules.

Errors are related to the use of HTML  which is no longer allowed to be used.

Currently we have a total of `1111` ASRSnippets that need to be further edited.

Some edits we will be able to automated. Will update here with a list of edits to be done

 - [x] Migrate `&amp;` to `&`. Pa

[2018-11-27 16:18] glogiotatidis opened #861 "Filter by release channel on ASRSnippets raises an error"

[2018-11-27 16:29] glogiotatidis commented on #834
@k88hudson do you know why snippets appear smaller in ASR? if this a design decision?

[2018-11-27 17:24] glogiotatidis opened #862 "Update newsletter and s2d templates with new error_page_button_label variable"
https://bugzilla.mozilla.org/show_bug.cgi?id=1510331

- [ ]  After we push update to the snippets-server we want to update existing snippets with localized retry button text.

[2018-11-27 17:28] glogiotatidis opened #863 "Preview is always using the default theme"
Currently ASR Snippets preview always displays the default theme. We need a way to preview in other themes as well.

https://bugzilla.mozilla.org/show_bug.cgi?id=1510335

[2018-11-27 18:33] k88hudson commented on #834
I debugged this with Jean and it looks like she had her browser zoomed in on about:newtab which was making other snippets look larger; the design spec specifies `14px` which is what's currently in nightly, still awaiting uplift to 64

[2018-11-28 08:16] glogiotatidis commented on #858
Indeed that related to the caching.

One thing to note in the specific issue is that publishing start and ending times are handled on the server and not on the client. In this case the browser had a cached version of snippets and it didn't know they had expired until it fetches new snippets.

This was designed to be feature back in the day so we could avoid sending marketing snippets too early to

[2018-11-28 08:32] glogiotatidis commented on #767
According to reports from Snippet Editors in #801 they still get the error. I cannot find a related report in Sentry.

[2018-11-28 12:32] glogiotatidis opened #865 "Add show snippet view"

[2018-11-28 12:49] glogiotatidis opened #866 "Fix links using utm_params"
Snippets have links with `utm_*` params which are not set right.

For example
 - `https://www.mozilla.org/en-US/firefox/new/?scene=2#download-fx/?utm_source=desktop-snippet&utm_medium=snippet&utm_campaign=upgrade62&utm_term=9354&utm_content=REL`
 - `https://donate.mozilla.org/pl/utm_source=desktop-snippet&amp;utm_medium=snippet&amp;utm_campaign=donate&amp;utm_term=7556`
 - `https://donate.mozilla.

[2018-11-28 17:07] mediaChick commented on #858
@glogiotatidis Both computers are showing current snippets today.

[2018-11-29 09:04] glogiotatidis commented on #801
This is very helpful, thanks @mediaChick

[2018-11-29 09:49] glogiotatidis commented on #855
https://github.com/mozmeao/snippets-service/pull/854#discussion_r237115455

[2018-11-29 10:48] glogiotatidis opened #867 "Pre AS Snippet Selection uses deprecated testpilot addon setting."
Pre AS Snippet Selection uses deprecated testpilot addon setting.

This is a regression introduced in https://github.com/mozmeao/snippets-service/commit/56f11f621c78415a14c3666cd5a4733d65988588

We can remove this option since we won't be targeting anyone with testpilot on pre Fx 57 version.

[2018-11-29 10:55] #867 closed

[2018-11-29 12:58] glogiotatidis commented on #858
Great, thanks for confirming @mediaChick . I will close this one out then and we can discuss future behavior in #667

[2018-11-29 12:58] #858 closed

[2018-11-29 22:30] #861 closed

[2018-11-30 10:00] glogiotatidis opened #870 "Only simple template separates title with body content with newline"

[2018-11-30 12:21] glogiotatidis commented on #678
# Migration of Beta, Dev and Nightly Snippets Report

Migration of Beta, Dev and Nightly snippets to ASR Snippets has been completed. Everything runs smoothly.

A few ASRSnippets require special attention to manually correct content. One of the listed snippets was in published state, so we can fixed when/if we device to publish.

       9476 - MOCO_Global_2018_P100_Deep Link Test_About Preferences

[2018-11-30 19:14] jkt230 opened #872 "Will List view page Filters and Categories get transferred over to ASR admin?"
Legacy snippet admin has these filters:
-By last modified
-by published
-by ready for review
-by channel
-by targeted locales
-by client match rules (probably not necessary)
-by template

Will we have these filters in ASR?

In addition the legacy snippet admin has these categories in the list view:
-Published checkbox
-locale list
-modified time stamp

Can we have these in ASR as well?

[2018-11-30 19:21] jkt230 commented on #678
Thanks for flagging.

What is the correct link for 9476 and 9477?

Not worried about the rest as they are either a mock up/test, been fixed.

[2018-12-10 16:09] glogiotatidis opened #874 "Add Category field to ASR Snippets"
As discussed during the Allhands we want to have a special `Category` field for ASRSnippets.

Add:
 - [x] Category field
 - [x] Add list view filter for categories
 - [x] Complete field for existing snippets
 - ~~Add step in Snippets -> ASRSnippets script~~
 - [x] Give Snippet Editors permissions to edit Categories

@mediaChick @jkt230 can you please list the currently used categories so I can aut

[2018-12-10 16:11] glogiotatidis commented on #874
Also @mediaChick @jkt230 should category be a required field for all snippets ?

[2018-12-10 16:12] glogiotatidis opened #875 "Allow multiple targets be to selected for one ASRSnippet"

[2018-12-10 16:16] glogiotatidis opened #876 "Parse `currentDate` as `date` in JEXL"
It seems that JEXL's `currentDate` is a string, instead of unix time, and thus it needs to be passed through `date` filter.

[2018-12-10 16:25] glogiotatidis opened #878 "List snippets locale and provide locale filter in list view"

[2018-12-10 16:30] glogiotatidis opened #879 "Add Publish Action for ASRSnippets in list view"

[2018-12-10 16:35] glogiotatidis commented on #872
Of course! Let's see what's missing in ASR

exists

exists

exists

exists

Filed #878

doesn't exist but won't implement.

exists

That we can't migrate 1 to 1 without some thought. See ASRSnippets have multiple states `published`, `draft`, `awaiting review` so a checkbox doesn't make sense anymore.

You can already see the status of the snippet in the list view

![image](https://user-images.gith

[2018-12-10 16:38] glogiotatidis commented on #872
@jkt230 are you covered by the previous comment? Should we go forward with the listed filed issues? Anything else missing / wanted?

[2018-12-10 16:41] glogiotatidis commented on #825
We're waiting for 65 to reach Beta, which should be this week. Will keep an eye

[2018-12-10 17:46] glogiotatidis commented on #862
Not happening for Fx64, added a note to check in #860

[2018-12-10 17:49] glogiotatidis commented on #638
Reviewed and everything is working fine

[2018-12-10 17:49] #638 closed

[2018-12-10 18:08] jkt230 commented on #872
Looks good thanks!

[2018-12-10 18:09] glogiotatidis commented on #830
Related bugs have been fixed. Template works fine.

[2018-12-10 18:09] #830 closed

[2018-12-10 18:15] jkt230 commented on #874
Here's the categories we use (is there a way to add description so new publishers understand how to categorize?)

**Utility**
Tips & Tricks + Features - how to get the most out of Firefox like Add-ons, SUMO, FxA

**Other Products & Services**
Examples like: Lockbox, Firefox Reality Browser, Pocket, Notes, Test Pilot, New Product Releases (Non-Fx), Firefox Send, Firefox Monitor (in dev), VPN (in de

[2018-12-10 18:15] glogiotatidis commented on #832
Related bugs have been fixed. Template works.

[2018-12-10 18:15] #832 closed

[2018-12-10 18:16] jkt230 commented on #874
No it should not be required, in the event it doesn't fit a category (or we need to put in a new category name).

[2018-12-10 18:17] glogiotatidis commented on #833
Issues filed in bug have been verified fixed.

@jkt230 I wasn't in the design meeting. Do you have an update on why the new snippets appear smaller?

[2018-12-10 18:18] glogiotatidis commented on #872
Perfetto! We track the new issues for fixes. Closing this one.

[2018-12-10 18:18] #872 closed

[2018-12-10 18:19] jkt230 commented on #833
Turns out one of my screens was zoomed in :( So no issue, the design sizing is the same :)

[2018-12-10 18:33] jkt230 opened #880 "Automate/append UTM parameters"
We typically always use the same utm_parameters (with a few variables):

Example:
utm_source=desktop-snippet&utm_medium=snippet&utm_campaign=LiveNationConcert&utm_term=9820&utm_content=REL_ESR

These always stay the same:
utm_source=desktop-snippet
utm_medium=snippet

Variables:
utm_campaign
utm_term [based on snippet ID, I think this automatically gets autopopulated]
utm_content

[2018-12-10 18:34] jkt230 opened #881 "Automate/auto fill l10n copy for words like dismiss, remove this, etc. (+ pre-populate fields with l10n language based on locale selection)"
1) To reduce manual error, if we can autopopulate certain l10n copy for words that we will always use such as:

Dismiss
Remove this

2) If possible, pre-populate fields with l10n copy based on locale selection

[2018-12-10 18:36] jkt230 opened #882 "A/B Functionality in One Snippet"
During All Hands, we discussed exploring the possibility of being able to have several variants in one snippet so we can 1) A/B test copy or even icon or 2) just change locale and l10n copy since icons and links are most likely the same [note: need to recognize that then for metrics reporting, it'll use the same snippet ID and is that okay?]

[2018-12-10 18:37] glogiotatidis commented on #833
Thanks! closing

[2018-12-10 18:37] #833 closed

[2018-12-10 18:37] jkt230 commented on #841
Want to confirm this is adding the icon library / gallery to the admin tool. [also needs to be searchable and be able to check format/size when uploading].

[2018-12-10 18:39] jkt230 opened #883 "Update ASR Targeting Functionality in Admin"
During All Hands, we discussed bringing the targeting fields back into the snippet editing mode page so that we can select multiple targets [similar how we can select multiple locales].

If anything, definitely need to at least bring back countries in the snippet editing mode page.

[2018-12-10 18:40] glogiotatidis commented on #841
Yes!

I need to re-engineer how we do template forms first, but that's one of my next things.

[2018-12-10 18:41] jkt230 opened #884 "Add descriptor / help text in ASR targeting fields"
Need to include the help text for certain targeting attributes such those that include the inclusion/exclusion for dates

Ex:
Profile Age: week 1 to week 3 [explain that it includes week 1 and does not include week 3...did I get that right?]

[2018-12-10 18:42] glogiotatidis commented on #883
I though we agree to keep targeting as is for now and allow you to select multiple targets for one snippet, right? I filed #875 for this.

[2018-12-10 18:42] jkt230 commented on #863
We talked during All Hands the ability to show or not show dark themes in preview mode.

[2018-12-10 18:46] glogiotatidis commented on #881
See also #757

[2018-12-10 18:50] glogiotatidis commented on #880
Can you please explain this one too?

[2018-12-10 18:54] jkt230 commented on #883
Correct! Sorry let me close this one since it's redundant.

[2018-12-10 18:54] #883 closed

[2018-12-10 19:25] jkt230 commented on #880
In the past we've used it if we had different copy variations like V1 or V2. Michelle has been using it to mark which channels the snippet would run in like REL_ESR or Beta or DEV, etc.

We haven't quite landed on exactly how we should use them moving forward but this shouldn't affect this issue right?

[2018-12-11 13:17] #876 closed

[2018-12-11 14:24] glogiotatidis opened #887 "Automated data export to Google Cloud Storage for Analytics"
We need an automated way to upload to Google Cloud Storage a file with ASRSnippet metadata. The metadata will be in turn parsed by a Python based App Engine job that loads things into Big Query.

Open questions:
 - [x] File format: Probably CSV. We need to pick a good delimiter
  - CSV, Delimeter `,`, all fields quoted
 - [x] Interval: How often should the file get updated
  - Daily
 - [x] Metadat

[2018-12-12 22:22] jkt230 commented on #860
Definitely a P1 and we can work together on this.

[2018-12-12 22:30] jkt230 commented on #667
I know we discussed this, can you remind me where we landed? - Sorry I searched the notes and I don't think a decision was made.

[2018-12-12 22:30] jkt230 commented on #814
P1 (knowing that it'll be in the Fx65 milestone).

[2018-12-12 22:38] jkt230 commented on #804
P1

[2018-12-12 22:39] jkt230 commented on #753
let's look into this!

[2018-12-12 22:40] jkt230 commented on #797
Definitely want to be able to bring this back - it's a P1 but not necessary right now.

[2018-12-12 22:41] jkt230 commented on #710
we already have this?

[2018-12-12 22:41] jkt230 commented on #701
P1

[2018-12-12 22:42] jkt230 commented on #680
Let me know what else is needed here!

[2018-12-12 22:42] jkt230 commented on #727
Is this already fixed?

[2018-12-12 23:11] jkt230 commented on #859
I chatted with Chris More (Adavis was out of office) and he said: "it is all localized. I think it just detects your locale and gives you that content. They may have the ability to pass parameters"

[2018-12-13 08:32] glogiotatidis commented on #859
Indeed, verified. It uses `Accept-Language` header and provides localized content. Tested with German

Thanks for checking @jkt230

[2018-12-13 08:32] #859 closed

[2018-12-13 13:17] glogiotatidis commented on #825
Monitor still OK, I'll recheck when we're about to flip the pref for Release channel

/remind me to update monitors on 01/07/2019

[2018-12-13 16:23] #875 closed

[2018-12-13 17:01] #879 closed

[2018-12-14 08:47] glogiotatidis opened #888 "Return empty json for empty bundles in ASR"
Return empty json for empty bundles in ASR. Unclear whether ASR can handle 204 responses so let's default to empty json.

See also https://bugzilla.mozilla.org/show_bug.cgi?id=1511640

History:
 - https://github.com/mozmeao/snippets-service/commit/4936f2371e341690def9be40a72abdd32205b0c9
 - https://github.com/mozmeao/snippets-service/commit/cb0fc0ca63af4ed3786342e17c2f50d2fc6dc5c4

[2018-12-14 11:57] glogiotatidis commented on #834
Bug fixed and verified. Thanks all!

[2018-12-14 11:57] #834 closed

[2018-12-14 12:52] glogiotatidis commented on #680
I believe we're good. Thanks!

[2018-12-14 12:52] #680 closed

[2018-12-14 13:09] glogiotatidis commented on #866
I checked the fundraising ASRsnippets (which are more error prone due to https://github.com/mozilla/activity-stream/pull/4579#issuecomment-442119813) and everything looks good.

I will discuss with the LCM team how we should be doing parameters on links from now on.

/remind me on Jan 8th to discuss with LCM team about URL params

[2018-12-14 13:23] glogiotatidis commented on #678
## Migration of Release Snippets Report

First step of migration of Release snippets to ASR Snippets has been completed.

We migrated:
 - All Published Snippets
 - All Snippets modified in the last 60 days
 - All Snippets with `f100` in their name

for the Release channel.

A few ASRSnippets required special attention to manually correct content. I proceeded with fixing those snippets. A full list

[2018-12-14 14:36] glogiotatidis commented on #860
Perfect, thanks @jkt230

I checked everything but the last two points.
 - Can you check that custom buttons / colors work nicely?
 - and that Send to Device and Newsletter scene1 buttons have text which makes sense when it appears on the error page?

[2018-12-18 09:02] glogiotatidis opened #891 "ASRSnippet list view search refers to target"
ASRSnippet list view search requires update to refer to `targets` after #875

[2018-12-18 09:12] #891 closed

[2018-12-19 20:56] jkt230 commented on #860
- Can you check that custom buttons / colors work nicely?
We can only customize the scene 1 button right?
Customizing is fine, what I noticed is that it doesn't have that nice default feature of when you hover over the button, the color changes slightly. I guess it's not a priority and hard to get that added in?

-and that Send to Device and Newsletter scene1 buttons have text which makes sense wh

[2018-12-20 11:48] glogiotatidis commented on #860
Well, that's difficult to get, because of who robust our systems are :) The error page features the `error_text` and next to that a button which is the same as in scene1 and its label is the `scene1_button_label` variable.

The problem here is that *if* some scene1 buttons have copy like `Learn More` those don't make much sense in the error page. In case of an error the user would read:

`Somethin

[2018-12-20 11:48] #710 closed

[2019-01-02 10:35] grahamperrin commented on #799
+1

Cross reference https://www.reddit.com/r/privacytoolsIO/comments/abfgj5/-/ed2jmog/

[2019-01-02 18:17] jkt230 opened #894 "ASR Send to Device Template: Input Field Gets Cut Off"
Can we make this input field flexible so it accepts more characters? It cuts off when I input "Enter your email or phone number" or "Enter your email or phone (10 digits, no spaces) here"

![screen shot 2019-01-02 at 10 15 23 am](https://user-images.githubusercontent.com/6807556/50605620-9a0dbf00-0e77-11e9-931a-b180da368060.png)

[2019-01-02 18:19] jkt230 opened #895 "ASR Snippet Service List View: Duplicate Snippet Functionality doesn't work"
When I try to duplicate a snippet from the list view, it sends me to a "Server Error (500)" page

![screen shot 2019-01-02 at 10 18 15 am](https://user-images.githubusercontent.com/6807556/50605668-d3dec580-0e77-11e9-91ad-be9cdd3e36b1.png)

[2019-01-04 19:05] jkt230 commented on #771
Let's definitely do this for ASR when it rolls out next week, thanks!

[2019-01-07 08:31] glogiotatidis commented on #678
# Final Migration Report

Just completed migration of the Snippets that were
 - Already migrated on Dec 14th but they got modified between then and now. These were snippets 8964, 8792, 8816, 9814, 9813, 9812, 9811`
 - Created between then and now not including the following snippets which have been manually created both as Snippet and ASRSnippets: 9896, 9895, 9898, 9897, 9894, 9893, 9892, 9889, 98

[2019-01-07 08:59] #678 closed

[2019-01-07 09:10] glogiotatidis commented on #531
Update:
 - AS team owns the metrics collection and the alerting system. There's still some discussion in the bug on how this works / when we get alerts
 - Added an item in tomorrow's AS + Snippets agenda to discuss the alert playbook
 - This does not block anymore the Fx64 release, so moving to 2019Q1 milestone

[2019-01-07 09:14] glogiotatidis commented on #845
Not blocking Fx64

[2019-01-07 09:14] glogiotatidis commented on #860
Not blocking Fx64

[2019-01-07 09:15] glogiotatidis commented on #836
Not blocking Fx64

[2019-01-07 19:32] metadave commented on #825
added myself

[2019-01-08 05:56] glogiotatidis commented on #895
Got it, thanks for filing the report. Will fix. Meanwhile you can use the `Save as new` button when editing a snippet.

[2019-01-14 10:57] glogiotatidis opened #896 "Remove migration code"
Remove the migration code introduced in #688

[2019-01-14 12:58] glogiotatidis commented on #874
Run code to create categories based on https://github.com/mozmeao/snippets-service/issues/874#issuecomment-445916104 and assign to ASRSnippets

[code]

[2019-01-14 13:02] glogiotatidis commented on #887
@gkabbz is this still a thing? Do you have deadline you want this delivered?

[2019-01-15 14:14] glogiotatidis commented on #880
Duplicate of #752

[2019-01-15 14:14] #880 closed

[2019-01-15 17:31] #771 closed

[2019-01-15 17:31] #838 closed

[2019-01-16 09:07] #874 closed

[2019-01-16 20:04] jkt230 opened #902 "Unpublishing Functionality Does Not Work for ASR Snippet Admins on Release"
![screen shot 2019-01-16 at 11 38 23 am](https://user-images.githubusercontent.com/6807556/51275383-aa00c500-1986-11e9-9c75-ea0942b67ae7.png)

Hi Giorgos,
We were trying to unpublish 10546, 10547, 10548 and received this error.

[2019-01-17 07:36] #896 closed

[2019-01-17 08:15] glogiotatidis commented on #902
My bad, I failed to update some permissions. Should be fine now. Please check and close issue if everything works for you.

Thanks!

[2019-01-17 08:16] glogiotatidis commented on #895
https://github.com/mozmeao/snippets-service/commit/efaf3c69a2440ea9eb3368c72199ff189734d2e5

[2019-01-17 08:16] #895 closed

[2019-01-17 23:07] jkt230 commented on #902
Thanks Giorgos, works now :)

[2019-01-17 23:07] #902 closed

[2019-01-18 09:47] #804 closed

[2019-01-21 07:30] glogiotatidis commented on #825
The [`Collected snippet metrics unusally low`](https://app.datadoghq.com/monitors/6919608) monitor got triggered after fully switching snippets to ASR on Jan 17th. This is expected behavior.

I'm pasting here the monitor configuration for reference
[code]

and I'm deleting the monitor since it's not useful anymore.

Will keep the anomaly detection monitor around to keep checking for anomalies in t

[2019-01-21 07:30] #825 closed

[2019-01-21 08:17] #894 closed

[2019-01-21 08:57] glogiotatidis commented on #894
fixed in prod

[2019-01-27 06:02] weekly-digest[bot] opened #908 "Weekly Digest (20 January, 2019 - 27 January, 2019)"
Here's the **Weekly Digest** for [*mozmeao/snippets-service*](https://github.com/mozmeao/snippets-service):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 3 issues have been closed and 0 issues are still open.
## CLOSED ISSUES
:heart: #907 [Avoid using reverse url for admin urls to work on all clusters.](https://github.com/mozmeao/snippets-service/pull/907), by [glogiotatidis](https:/

[2019-02-04 18:14] stsegovia-moz opened #910 "Firefox Emojis not working in https://snippets-admin.mozilla.org/admin/"
I'm building snippets in the snippets admin tool [https://snippets-admin.mozilla.org/admin/]. Whenever I try to use a Firefox emoji within my copy and then click save, I get an error **"Server Error (500)"**

These are the emoji symbols that I'm trying to use.
http://mozilla.github.io/fxemoji/dist/FirefoxEmoji/index.html

Here are screenshots of how I used the emoji and the error from saving the s

[2019-02-06 07:54] glogiotatidis commented on #504
New PR to fix this in AS

[2019-02-07 00:57] stsegovia-moz opened #911 "Snippet Campaign Block Logic Causing Auto-Block, so user never sees snippet"
**TL;DR:** Snippets aren't being show to all users, only some. We identified traffic via Google Analytics, but can't see the snippets on several computers. We investigated and found that snippets were being blocked via campaigns, even when users had not previously interacted with the snippet.

**Long Version**

We are having issues with Snippets not displaying for all users. This is an ongoing iss